<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>

    <div class="slideshow_container">
      <div class="mySlides fade">
        <img src="<%= asset_path('blueberry_vanilla_cake-wide.png') %>">
        <div class="text">
          <h2>
            Blueberries! Blueberries! Blueberries!
          </h2>
          <p>
            How does a no-bake (perfect for when you does't have an oven!)
            blueberry vanillia cake topped with blueberrys sound?
          </p>
        </div>
      </div>

      <div class="mySlides fade">
        <img src="<%= asset_path('asparagus_avocado_sushi-wide.png') %>">
        <div class="text">
          <h2>
            Asparagus and Avocado Sushi
          </h2>
          <p>
            A delicious dish for vegan sushi lovers, mixing Japanese
            cooking with your favourite veg and fruit 
          </p>
        </div>
      </div>

      <div class="mySlides fade">
        <img src="<%= asset_path('cold.png') %>">
        <div class="text">
          <h2>
            Caption Three Caption Three Caption Three
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam
          </p>
        </div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <div class="bottom_menu">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>

    <div class="clearfix">
      <div class='img-container'>

      </div>
      <%= link_to root_path do %>
        <div class="img-container">
          <%= image_tag('pasta_dishes.png', :alt => 'Pasta Dishes') %>
          <h2>Pasta Dishes</h2>
          <p>
            Carb load while unleashing your inner Italian
          </p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="img-container">
          <%= image_tag('potato_dishes.png', :alt => 'Potato Dishes') %>
          <h2>Potato Dishes</h2>
          <p>
            Boil them, mash them, stick them in a stew
          </p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="img-container">
          <%= image_tag('seasonal.png', :alt => 'Seasonal') %>
          <h2>Seasonal</h2>
          <p>
            It says seasonal but we really mean Christmas now
          </p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="img-container">
          <%= image_tag('drinks.png', :alt => 'Drinks') %>
          <h2>Drinks</h2>
          <p>
            Whooooo! Cocktails and smoothies all round
          </p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="img-container">
          <%= image_tag('baking.png', :alt => 'Baking') %>
          <h2>Baking</h2>
          <p>
            Cakes, pies, doughnuts, etc.
          </p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="img-container">
          <%= image_tag('healthy.png', :alt => 'Healthy') %>
          <h2>Healthy</h2>
          <p>
            Green, green, and more greens!
          </p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="img-container">
          <%= image_tag('easy.png', :alt => 'Quick and Easy') %>
          <h2>Quick and Easy</h2>
          <p>
            (Student compatible)
          </p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="img-container">
          <%= image_tag('asia.png', :alt => 'Asian') %>
          <h2>Asian</h2>
          <p>
            Everything! As long as that's Indian, Chinese and Japanese...
          </p>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <div class="img-container">
          <%= image_tag('misc.png', :alt => 'Misc') %>
          <h2>Misc</h2>
          <p>
            Basically everything we couldn't easily put into a category
          </p>
        </div>
      <% end %>
    </div>

  </div>
</div>
<%= render 'shared/footer' %>


<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>
