<%= form_with model: @blog, local: true do |form| %>

  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blog.errors.count, "error") %> prohibited
        this blog from being saved:
      </h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='leftContent'>
    <div class="row">
      <div class="col-25">
        <%= form.label :title %>
      </div>
      <div class="col-75">
        <%= form.text_field :title, placeholder: "Title...", maxlength: 50 %>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <%= form.label :text %>
      </div>
      <div class="col-75">
        <%= form.text_area :text, placeholder: "Blog away...", maxlength: 5000 %>
      </div>
    </div>
    <div class="row">
      <%= form.submit 'Create Blog', class: 'submitButton' %>
    </div>
  </div>

<% end %>
