<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <p>
      <strong>Title:</strong>
      <%= @blog.title %>
    </p>

    <p>
      <strong>Text:</strong>
      <%= @blog.text %>
    </p>

    <h2>Comments</h2>
    <%= render @blog.blog_comments %>

    <h2>Add a comment:</h2>
    <%= render 'blog_comments/form' %>

    <%= link_to 'Edit', edit_blog_path(@blog) %> |
    <%= link_to 'Back', blogs_path %>
  </div>
  <%= render 'shared/footer' %>
</div>
