<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('acorn_squash_caramelized_onion_goat_cheese_pizza.png', :alt => 'Acorn Squash Carmelized Onion Goat Cheese Pizza') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Acorn Squash Carmelized Onion Goat Cheese Pizza
          </p>
          <p>
            <%= link_to "Alison - Two Of A Kind Cooks",
            "http://www.twoofakindcooks.com/acorn-squash-caramelized-onion-goat-cheese-pizza/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                A healthy vegitarian pizza topped with a range of toppings
              </p>
              <p>
                Prep: 40 mins
                Cook: 8-9 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> PIZZA DOUGH </li>
                <li> 3¾ cups all-purpose flour </li>
                <li> 2 teaspoons sea salt </li>
                <li> ⅛ teaspoon active dry yeast </li>
                <li> 2 teaspoons chopped fresh rosemary (optional) </li>
                <li> 1½ cups water </li>
                <li> TOPPING </li>
                <li> 3 tablespoons olive oil, divided </li>
                <li> 1 head garlic </li>
                <li> ½ acorn squash, sliced into ¼"-thick pieces </li>
                <li> ½ onion, thinly sliced </li>
                <li> 1 tablespoon unsalted butter </li>
                <li> 1 tablespoon all-purpose flour </li>
                <li> ½ cup milk </li>
                <li> 2 ounces goat cheese </li>
                <li> 1 tablespoon chopped fresh rosemary </li>
                <li> sea salt and freshly ground black pepper, to taste </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            In a large bowl, combine the flour, salt, yeast and rosemary.
          </p>
          <p>
            Add water to the flour mixture, stirring everything until it comes
            together to form a shaggy ball. Cover the bowl with plastic wrap and
            allow it to rise at room temperature for 18-20 hours.
          </p>
          <p>
            Flour a work surface and scrape out the dough. Divide it into 2
            equal parts. Gently and quickly shape each piece into a ball by
            taking the ends of the dough and folding them into the middle; place
            seam side down on your work surface. If you don't plan to use the
            dough right away, wrap the balls individually in plastic wrap and
            refrigerate for up to 3 days. When ready to use, remove the dough
            from the refrigerator and let sit at room temperature, covered with
            a damp cloth, for 2-3 hours before shaping.
          </p>
          <p>
            Preheat oven to 350 degrees.
          </p>
          <p>
            Cut about ¼ inch off the top of the head of garlic; place in a small
            baking dish and drizzle with ½ tablespoon olive oil.
          </p>
          <p>
            Place acorn squash on a baking sheet. Drizzle with 1 tablespoon
            olive oil, season with salt and pepper, and toss to coat. Spread
            squash in a single layer.
          </p>
          <p>
            Bake garlic and squash at the same time, removing squash from the
            oven after 15 minutes. Continue to bake garlic for another 15
            minutes or until it is soft and fragrant. Remove from the oven and
            let cool.
          </p>
          <p>
            Meanwhile, heat 1 tablespoon olive oil in a fry pan over medium
            heat. Add onion and cook until lightly caramelized, 10-12 minutes.
            Remove from pan and set aside.
          </p>
          <p>
            Prepare the roasted garlic béchamel by melting the butter in a small
            sauce pan over medium heat. Add flour and whisk until combined; cook
            for 1 minute, stirring constantly. Slowly add milk and whisk until
            combined. Bring to a boil and cook, stirring constantly, until it
            has thickened, 3-5 minutes. Remove from heat. Squeeze out 5 roasted
            garlic cloves and add to sauce; mash them with a fork and stir to
            combine.
          </p>
          <p>
            Adjust oven rack to the second-highest position and place Baking
            Steel on rack. Preheat oven to 500 degrees for approximately 45
            minutes.
          </p>
          <p>
            Stretch out dough to the desired shape and thickness and place on a
            floured pizza peel (or inverted baking sheet). If the dough is
            resisting, let it sit for about 5 minutes.
          </p>
          <p>
            Drizzle with remaining ½ tablespoon olive oil. Spread béchamel over
            the dough in an even layer all the way to the edges.
          </p>
          <p>
            Top with acorn squash and caramelized onion. Crumble goat cheese and
            fresh rosemary over pizza and season with salt and pepper.
          </p>
          <p>
            Slide the pizza onto the Baking Steel and bake for 8-9 minutes or
            until crust is golden. Broil for 1-2 minutes to brown top, if
            desired.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
