<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('bacon_herb_and_cheese_star_bread.png', :alt => 'Bacon, herb, and cheese star bread') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Bacon, herb, and cheese star bread
          </p>
          <p>
            <%= link_to "Reddit User: PrintableWren - Reddit",
            "https://www.reddit.com/r/recipes/comments/8ykrbg/bacon_herb_and_cheese_star_bread_recipe_in/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Looks great and is great for starts or a tasty bite
              </p>
              <p>
                Prep: 1 hour
                Cook: 3 hours
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> DOUGH </li>
                <li> ¾ cup + 3 tablespoons milk </li>
                <li> 1 packet active dry yeast </li>
                <li> ¼ tsp sugar </li>
                <li> 4 tbsp (1/2 stick) unsalted butter, softened </li>
                <li> 271 g all-purpose flour </li>
                <li> 1 tsp sea salt </li>
                <li> FILLING </li>
                <li> 5 strips bacon </li>
                <li> 4 tbsp (1/2 stick) unsalted butter, softened </li>
                <li> 1 tbsp solidified reserved bacon grease </li>
                <li> ¼ tsp garlic powder </li>
                <li> 1/2 tsp ground thyme </li>
                <li> 1 tsp dried oregano leaves </li>
                <li> 1 tsp dried basil leaves </li>
                <li> ¼ cup chopped fresh parsley </li>
                <li> 1 egg, beaten </li>
                <li> ½ cup grated Italian cheese mix </li>
                <li> 1 tsp sea salt </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Cook bacon strips until very crispy then using tongs transfer bacon
            to a paper towel lined plate to cool. Pour bacon grease from pan
            into a freezer-safe bowl and set in freezer to cool until solid
            (10-15 minutes).
          </p>
          <p>
            While bacon is cooking, put milk in microwave for 30 seconds, stir,
            then check temperature and return to microwave for 15 second bursts
            as needed until milk reaches 38 degrees C (100 F) - roughly body
            temperature. This took me 1:15 but may vary for you. Once milk has
            reached correct temperature add yeast and sugar and give it a little
            whisking then let it sit undisturbed for 10 minutes.
          </p>
          <p>
            After 10 minutes, milk mixture should be frothy on top. Add
            remaining dough ingredients and mix until all ingredients combined.
            Add to bowl of stand mixer and use dough hook on low for 7-8 minutes
            until dough looks smooth and elastic (or kneed by hand for about 10
            minutes).
          </p>
          <p>
            Pour a bit of olive oil (or other oil) into a large bowl and grease
            bottom and sides of bowl, then transfer dough to greased bowl. Cover
            with cling wrap and let sit for 1 hour. In a small bowl, combine
            butter and bacon grease, then mix in garlic powder and herbs (thyme
            through to parsley). Set aside.
          </p>
          <p>
            Crumble the crispy bacon into small pieces and set aside.
          </p>
          <p>
            Preheat oven to 400 and line a large baking sheet with parchment
            paper.
          </p>
          <p>
            Once the dough has finished proofing for 1 hour, punch the air out
            of it. Lightly grease your counter and then divide dough into 4
            equal parts.
          </p>
          <p>
            Take one of the 4 pieces and use your fingers to gently press the
            dough out into a large circle, then use a rolling pin to transfer
            the dough to your prepared baking sheet (gently roll the dough into
            the rolling pin, and then unroll it onto the baking sheet).
          </p>
          <p>
            Using a pastry brush, apply beaten egg to dough, leaving a 2 inch
            border where no egg is applied.
          </p>
          <p>
            Take 1/3 of the butter mixture and use your fingers to gently spread
            it over the area where you applied the egg. Sprinkle 1/3 of the
            crumbled bacon over this area, and then 1/3 of the cheese.
          </p>
          <p>
            Repeat steps 9-11 with remaining dough and filling, with the 4th
            piece of dough acting as the top of your bread so there will not be
            any filling on it.
          </p>
          <p>
            Place a 2 inch wide circular cookie cutter in the middle of your
            bread (but don’t push down on it) as a guide to keep the center
            intact. Start by cutting the bread into 4, then cut each of those in
            half which will give you 8, then in half once more to get to 16
            pieces with all of them still connected at the center. In pairs of
            two, you’re going to twist the pieces away from each other and then
            connect them at the ends and tuck the end under slightly. I found
            this easiest to do using one hand to gently lift up one piece and
            then use both hands to twist it a few times, then use both hands to
            pick up the second piece of the pair and twist in the opposite
            direction.
          </p>
          <p>
            Once all strands have been twisted and connected into pairs, let the
            bread rest for 15 minutes.
          </p>
          <p>
            Apply egg wash over the whole bread, then sprinkle with sea salt.
          </p>
          <p>
            Bake for 15-17 minutes until golden, then transfer to a cooling rack.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
