<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('baked_scotch_eggs.png', :alt => 'Baked Scotch Eggs') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Baked Scotch Eggs
          </p>
          <p>
            <%= link_to "Imgur User: WannaWanga - Family Recipes",
            "https://imgur.com/a/gqmNvIM",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                A popular UK recipe made slightly healthier by baking 
              </p>
              <p>
                Prep: 30 mins
                Cook: 35 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 1 lb bulk pork sausage </li>
                <li> 1 1 teaspoon salt dried minced onion </li>
                <li> 4 hard-cooked eggs </li>
                <li> All-purpose flour </li>
                <li> 3/4 cup crispy bread crumbs </li>
                <li> 1 egg, beaten  </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Heat oven to 400°F. In large bowl, mix pork sausage, onion and salt.
            Shape mixture into 4 equal patties.
          </p>
          <p>
            Roll each hard-cooked egg in flour to coat; place on sausage patty
            and shape sausage around egg. Dip each into beaten egg; coat with
            bread crumbs to cover completely. Place on ungreased cookie sheet.
          </p>
          <p>
            Bake 35 minutes or until sausage is thoroughly cooked and no longer
            pink near egg.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
