<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('beef_tenderloin_steaks_with_celert_root_gratin.png', :alt => 'Beef Tenderloin Steaks with Celery Root Gratin') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Beef Tenderloin Steaks with Celery Root Gratin
          </p>
          <p>
            <%= link_to "William Abitbol - Food & Wine",
            "https://www.foodandwine.com/recipes/beef-tenderloin-steaks-with-celery-root-gratin",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Tenderloin steaks topped with a rich pan sauce
              </p>
              <p>
                Prep: 20 mins
                Cook: 1 hour 45 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> One 2-pound celery root—peeled, quartered and sliced crosswise 1/8 inch thick </li>
                <li> Salt and freshly ground pepper </li>
                <li> Pinch of freshly grated nutmeg </li>
                <li> 1 cup heavy cream </li>
                <li> 5 tablespoons unsalted butter, 1 tablespoon cut into small pieces </li>
                <li> 1 tablespoon extra-virgin olive oil </li>
                <li> Four 6-ounce trimmed beef tenderloin steaks, about 2 inches thick </li>
                <li> 1/2 cup veal demiglace </li>
                <li> 4 rosemary sprigs, for garnish </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Preheat the oven to 375°. Spread one-fourth of the celery root
            slices in a shallow 1-quart gratin dish. Season with salt, pepper
            and nutmeg. Repeat with the remaining celery root slices to create
            4 layers; season between each layer. Pour the cream over the celery
            root and dot with the 1 tablespoon of butter pieces. Cover with foil
            and bake for 30 minutes.
          </p>
          <p>
            Remove the foil and bake for about 30
            minutes longer, until browned on top and the celery root is tender
            when pierced with a knife. Let stand for 15 minutes. Leave the oven on.
          </p>
          <p>
            In a large ovenproof skillet, melt 1 tablespoon of the butter in the
            olive oil. Season the steaks with salt and pepper and cook over
            moderately high heat until a brown crust forms on the bottom, about
            3 minutes. Turn the steaks, transfer the skillet to the oven and
            cook for about 12 minutes for medium-rare. Transfer the steaks to
            plates.
          </p>
          <p>
            Add the veal demiglace to the skillet and bring to a boil. Remove
            the skillet from the heat and whisk in the remaining 3 tablespoons
            of butter, 1 tablespoon at a time. Season the sauce with salt and
            pepper.
          </p>
          <p>
            Spoon the sauce over and around the steaks. Garnish each steak with
            a sprig of rosemary and serve hot with the celery root gratin.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
