<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('beef_stew_in_red_wine_sauce.png', :alt => 'Beef Stew in Red Wine Sauce') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Beef Stew in Red Wine Sauce
          </p>
          <p>
            <%= link_to "Jacques Pepin - Food & Wine",
            "https://www.foodandwine.com/recipes/beef-stew-in-red-wine-sauce",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                A brilliant *hick* stew *hick* made with *hick* plenty of *hick*
                red wine... *hick*
              </p>
              <p>
                Prep: 1 hour
                Cook: 2 hour 40 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 1 tablespoon unsalted butter </li>
                <li> 2 tablespoons olive oil </li>
                <li> 2 pounds trimmed beef flatiron steak or chuck, cut into 8 pieces </li>
                <li> Salt Freshly ground black pepper </li>
                <li> 1 cup finely chopped onion </li>
                <li> 1 tablespoon finely chopped garlic </li>
                <li> 1 tablespoon all-purpose flour </li>
                <li> 1 750-milliliter bottle dry red wine </li>
                <li> 2 bay leaves </li>
                <li> 1 thyme sprig </li>
                <li> 1 5-ounce piece of pancetta </li>
                <li> 15 15 cremini mushrooms or small cipollini onions, peeled </li>
                <li> 15 baby carrots, peeled </li>
                <li> Sugar </li>
                <li> Chopped fresh parsley, for garnish </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Preheat the oven to 350°. In a large enameled cast-iron casserole,
            melt the butter in 1 tablespoon of the olive oil. Arrange the meat
            in the casserole in a single layer and season with salt and pepper.
            Cook over moderately high heat, turning occasionally, until browned
            on all sides, 8 minutes. Add the chopped onion and garlic and cook
            over moderate heat, stirring occasionally, until the onion is
            softened, 5 minutes. Add the flour and stir to coat the meat with
            it.
          </p>
          <p>
            Add the wine, bay leaves and thyme, season with salt and pepper
            and bring to a boil, stirring to dissolve any brown bits stuck to
            the bottom of the pot.
          </p>
          <p>
            Cover the casserole and transfer it to the oven. Cook the stew for
            1 1/2 hours, until the meat is very tender and the sauce is flavorful.
          </p>
          <p>
            Meanwhile, in a saucepan, cover the pancetta with 2 cups of water
            and bring to a boil. Reduce the heat and simmer for 30 minutes.
            Drain the pancetta and slice it 1/2 inch thick, then cut the slices
            into 1-inch-wide lardons.
          </p>
          <p>
            In a large skillet, combine the pancetta, pearl onions, mushrooms
            and carrots. Add the remaining 1 tablespoon of olive oil, 1/4 cup
            of water and a large pinch each of sugar, salt and pepper. Bring to
            a boil, cover and simmer until almost all of the water has
            evaporated, 15 minutes. Uncover and cook over high heat, tossing,
            until the vegetables are tender and nicely browned, about 4 minutes.
          </p>
          <p>
            To serve, stir some of the vegetables and lardons into the stew and
            scatter the rest on top as a garnish. Top with a little chopped
            parsley and serve.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
