<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('beef_stew_with_dumplings.png', :alt => 'Beef Stew with Dumplings') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Beef Stew with Dumplings
          </p>
          <p>
            <%= link_to "James Martin - BBC Food",
            "https://www.bbc.com/food/recipes/beefstewwithdumpling_87333",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                For the coldest wintry evenings, tuck into a rich beef stew with
                fluffy dumplings to warm you right down to your toes.
              </p>
              <p>
                Prep: 30 mins
                Cook: 2 hours
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> STEW </li>
                <li> 2 tbsp olive oil </li>
                <li> 25g/1oz butter </li>
                <li> 750g/1lb 10oz beef stewing steak, chopped into bite-sized pieces </li>
                <li> 2 tbsp plain flour </li>
                <li> 2 garlic cloves, crushed </li>
                <li> 175g/6oz baby onions, peeled </li>
                <li> 150g/5oz celery, cut into large chunks </li>
                <li> 150g/5oz carrots, cut into large chunks </li>
                <li> 2 leeks, roughly chopped </li>
                <li> 200g/7oz swede, cut into large chunks </li>
                <li> 150ml/5fl oz red wine </li>
                <li> 500ml/18fl oz beef stock </li>
                <li> 2 fresh bay leaves </li>
                <li> 3 tbsp fresh thyme leaves </li>
                <li> 3 tbsp chopped fresh flatleaf parsley </li>
                <li> Worcestershire sauce, to taste </li>
                <li> 1 tbsp balsamic vinegar, or to taste </li>
                <li> Salt and freshly ground black pepper </li>
                <li> DUMPLINGS </li>
                <li> 125g/4½oz plain flour, plus extra for dusting </li>
                <li> 1 tsp baking powder </li>
                <li> Pinch salt </li>
                <li> 60g/2½oz suet </li>
                <li> Water, to make a dough </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Preheat the oven to 180C/350F/Gas 4.
          </p>
          <p>
            For the beef stew, heat the oil and butter in an ovenproof casserole
            and fry the beef until browned on all sides.
          </p>
          <p>
            Sprinkle over the flour and cook for a further 2-3 minutes.
          </p>
          <p>
            Add the garlic and all the vegetables and fry for 1-2 minutes.
          </p>
          <p>
            Stir in the wine, stock and herbs, then add the Worcestershire sauce
            and balsamic vinegar, to taste. Season with salt and freshly ground
            black pepper.
          </p>
          <p>
            Cover with a lid, transfer to the oven and cook for about two hours,
            or until the meat is tender.
          </p>
          <p>
            For the dumplings, sift the flour, baking powder and salt into a
            bowl.
          </p>
          <p>
            Add the suet and enough water to form a thick dough.
          </p>
          <p>
            With floured hands, roll spoonfuls of the dough into small balls.
          </p>
          <p>
            After two hours, remove the lid from the stew and place the balls on
            top of the stew. Cover, return to the oven and cook for a further
            20 minutes, or until the dumplings have swollen and are tender. (If
            you prefer your dumplings with a golden top, leave the lid off when
            returning to the oven.)
          </p>
          <p>
            To serve, place a spoonful of mashed potato onto each of four
            serving plates and top with the stew and dumplings. Sprinkle with
            chopped parsley.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
