<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('bouillabaisse.png', :alt => 'Bouillabaisse') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Buillabaisse
          </p>
          <p>
            <%= link_to "Ethan Stowell - Food & Wine",
            "https://www.foodandwine.com/recipes/bouillabaisse-october-2008",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                A classic Provençal seafood stew is loaded with clams, lobster
                and fish. (We had to double check we knew what this one was)
              </p>
              <p>
                Prep: 1 hour 30 mins
                Cook: 2 hours
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> ROUILLE </li>
                <li> One 3-inch piece of baguette, cut into 1/2-inch dice </li>
                <li> 3 tablespoons water </li>
                <li> 2 garlic cloves </li>
                <li> 1/2 teaspoon cayenne pepper </li>
                <li> 1/2 teaspoon kosher salt </li>
                <li> 3 tablespoons extra-virgin olive oil </li>
                <li> BOUILLABAISSE </li>
                <li> 3 tablespoons extra-virgin olive oil, plus more for drizzling </li>
                <li> 2 leeks, white and light green parts only , thinly sliced </li>
                <li> 1 onion, cut into 1/4-inch dice </li>
                <li> 1 fennel bulb—fronds reserved, bulb cored and cut into 1/4-inch dice </li>
                <li> 4 garlic cloves, 3 coarsely chopped </li>
                <li> 2 tomatoes, cut into 1/2-inch dice </li>
                <li> 2 bay leaves </li>
                <li> Pinch of saffron threads </li>
                <li> 2 tablespoons pastis or Pernod </li>
                <li> 5 cups store-bought fish stock </li>
                <li> One 2-pound live lobster </li>
                <li> Eight 1/2-inch-thick baguette slices, cut on the bias </li>
                <li> 3 Yukon Gold potatoes (1 1/2 pounds), peeled and cut into 1/2-inch dice </li>
                <li> 1/4 teaspoon cayenne pepper </li>
                <li> 2 dozen littleneck clams, scrubbed </li>
                <li> 1 pound monkfish, cut into sixteen 1 1/2-inch pieces </li>
                <li> 1 pound skinless red snapper fillets, cut into sixteen 1 1/2-inch pieces </li>
                <li> 1 pound skinless halibut fillet, cut into sixteen 1 1/2-inch pieces </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            In a mini food processor, sprinkle the diced bread with the water
            and let stand until the water is absorbed, about 5 minutes. Add the
            garlic, cayenne and salt and process until the bread and garlic are
            coarsely chopped. With the machine on, drizzle in the olive oil and
            process until the rouille is smooth. Transfer to a bowl and refrigerate.
          </p>
          <p>
            In a very large, deep skillet, heat the 3 tablespoons of olive oil.
            Add the leeks, onion, fennel and chopped garlic and cook over
            moderate heat until translucent, about 5 minutes. Add the tomatoes
            and cook until they begin to break down, about 5 minutes. Add the
            bay leaves, saffron and pastis and bring to a boil. Add the fish
            stock and bring to a simmer. Cook over low heat until the vegetables
            are very tender, about 20 minutes. Discard the bay leaves.
          </p>
          <p>
            In a food processor, pulse the vegetables and broth to a coarse
            puree. Strain through a fine sieve set over the skillet.
          </p>
          <p>
            Bring a large pot of water to a boil. Add the lobster and cook until
            it turns bright red, about 4 minutes. Drain and rinse the lobster
            under cold water until cool enough to handle. Remove the tail, claw
            and knuckle meat and cut into 1-inch pieces.
          </p>
          <p>
            Preheat the broiler. Arrange the baguette slices on a baking sheet
            and broil them 6 inches from the heat for about 1 minute per side,
            until the slices are golden brown around the edges. Rub each slice
            with the remaining whole garlic clove and drizzle lightly with olive
            oil.
          </p>
          <p>
            Add the potatoes and cayenne pepper to the broth and bring to a
            simmer. Cook over moderately high heat until the potatoes are just
            tender, about 10 minutes; season with salt and pepper. Add the
            clams, cover and cook over moderate heat until they just begin to
            open, about 3 minutes. Add the monkfish, cover and simmer for 2
            minutes. Add the lobster, snapper and halibut, cover and simmer
            until the clams are open and all the fish is cooked through, about
            4 minutes.
          </p>
          <p>
            Set a baguette toast in each of 8 shallow bowls. Ladle the fish and
            broth over the toasts and top each serving with 1 tablespoon of the
            rouille. Sprinkle with fennel fronds and serve immediately.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
