<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('caramel_cookies.png', :alt => 'Caramel Cookies') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Caramel Cookies
          </p>
          <p>
            <%= link_to "Imgur User: sanders16 - Imgur",
            "https://imgur.com/gallery/3ncGVzn",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Cookies with caramel inside them, sounds and is perfect
              </p>
              <p>
                Prep: 1 hour 20 mins
                Cook: 15 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> CARAMEL </li>
                <li> 1/2 cup (113 grams) unsalted butter (1 stick) </li>
                <li> 1/2 cup (120 ml) heavy cream or heavy whipping cream (36-40% butterfat content) </li>
                <li> 3 tablespoons water </li>
                <li> 1/4 cup (60 ml) light corn syrup </li>
                <li> 1 cup (200 grams) sugar </li>
                <li> 1/2 teaspoon course or flaked sea salt </li>
                <li> COOKIE </li>
                <li> 1 cup of butter divided into 2 1/2 cup portions </li>
                <li> 1 light brown sugar </li>
                <li> 2 tsp quality vanilla extract (no artificial please) </li>
                <li> 1/2 cup granulated sugar </li>
                <li> 1 large egg </li>
                <li> 1 egg yolk </li>
                <li> 2 and 1/4 cups AP flour </li>
                <li> 1 tsp salt </li>
                <li> 1 tsp baking soda. </li>
                <li> 1/2 cup coarsely chopped pecan (or nut of your choosing) </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            In a tall sided sauce pan combine water, sugar, and corn syrup.
            Bring to a boil and cook to 340F.  Resist the urge to stir. Swirl
            the pan lightly a few times throughout cooking to prevent hot spots.
            as soon as 340F is hit, drop in your cream and butter. Now you can
            stir. It will bubble furiously, which is why you need a tall sided
            pot.
          </p>
          <p>
            Return to the heat and cook to 240F or the soft ball stage.
            This will yield a soft a chewy caramel. Pour into a heavily greased
            8"x8". Let stand at room temp for 30 minutes.  Then dose liberally
            with a quality finishing salt like fleur de sel, or Maldon. let
            stand for another 60 mins.  If you're too afraid or not adventurous
            enough to make your own caramel, you could use Kraft caramel cubes.
            Be warned though they are considerably firmer and the finished
            product will suffer!
          </p>
          <p>
            Preheat oven to 350F. In a small sauce pan put a 1/2 cup butter.
            Cook over medium heat until it no longer sizzles and all the water
            is cooked out. Continue cooking for another 3-4 minutes until the
            butter is dark brown and smells nutty. Pour into a bowl and reserve.
          </p>
          <p>
            In the work bowl of your mixer combine the other half of your butter
            and the brown sugar. Cream on high for 5 minutes until light and
            fluffy. Next pour in the cooled brown butter and granulated sugar.
            Continue to beat on high for another 2 minutes adding the eggs 1 at
            a time. Texture should be light and fluffy and very soft. Sift dry
            ingredients, turn mixer down to low and add in 3 doses. Mix until
            combined. Fold in pecans with a rubber spatula. Evacuate dough from
            the bowl and wrap tightly. Place in your fridge at let rest for 30
            mins.
          </p>
          <p>
            Meanwhile, turn your caramel out onto and cutting board and portion
            them into 1"x1" squares using a lightly greased knife or pizza
            wheel.
          </p>
          <p>
            Pull dough out of the fridge and portion into 1oz balls. Stuff each
            one with a caramel portion. Ensure the caramel is totally covered by
            the dough to prevent ruptures. Lightly grease a 2" muffin tin and
            drop each ball into a slot. Sprinkle each ball with a moderate
            amount of finishing salt. Bake in the middle rack of your oven for
            12-15 minutes. Cookies should be lightly brown around the edges and
            still quite soft on top. Turn out onto a cooling rack and let stand
            upside down for at least 5 minutes before devouring.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
