<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('cream_cheese_and_jalapeno_stuffed_chicken_breast.png', :alt => 'template') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Cream Cheese & Jalapeño Stuffed Chicken Breast
          </p>
          <p>
            <%= link_to "Imgur User: WannaWanga - Family Recipes",
            "https://imgur.com/a/gqmNvIM",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                A smoked, cheese and jalapeño stuffed monument to decadence
                and what you probably shouldn't do to a chicken breast
              </p>
              <p>
                Prep: 40 min
                Cook: ?? hour ?? min (depends on size and amount of chicken)
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 4-6 chicken breasts </li>
                <li> 8 oz cream cheese </li>
                <li> 3 jalapeños </li>
                <li> 2 slices of thin bacon per piece of chicken </li>
                <li> Jeff's original rub recipe </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Brine (optional) To brine the chicken breasts make a solution of:
            1 quart of cold water, ¼ cup of coarse kosher salt and ¼ cup of
            brown sugar. Stir well until everything is dissolved.
            Place the chicken breasts into a zip top bag or other plastic or
            glass container and pour the brine over the chicken to cover. Place
            in the fridge for about 2 hours to brine. Once the brining is
            complete, remove the chicken from the brine and rinse well under
            cold water. Pat dry and set aside.
          </p>
          <p>
            Make the Cream Cheese/Jalapeño Mixture
            Leave the cream cheese out on the table for about an hour to soften.
            Place a block of cream cheese or about 8 oz into a small to medium
            sized mixing bowl.
            Deseed, clean and dice 2-3 jalapeño peppers depending on how well
            you like jalapeño and how spicy the jalapeños are.
            Put the diced peppers into the bowl with the cream cheese and stir
            to combine.
          </p>
          <p>
            Season and Stuff the Chicken Breasts
            Brush a little olive oil onto the chicken breasts then season the
            top side with Jeff's original rub.
            Add a heaping tablespoon of the cream cheese/jalapeno mixture on
            top of the rub.
            Fold the chicken over on top of itself. To make it easier to fold,
            you can make a shallow cut at about the halfway point of the chicken
            breast widthwise.
            Once the chicken is folded coat the entire outside of the chicken
            breast with a little olive oil and season generously with Jeff's
            original rub.
          </p>
          <p>
            Wrap with BaconLay 2 thin slices of bacon across the stuffed
            chicken breast.
            Lift the chicken up and hold it with one hand while you wrap the
            bacon "artistically" around the chicken.
          </p>
          <p>
            Smoke Cook the Chicken
            Place the stuffed chicken on a Bradley rack, cookie sheet or
            something similar to make it easy to carry them out to the smoker.
            Set up your smoker for cooking with indirect heat at around 240°F
            if possible.
            If your smoker has a water pan, it's a good idea to use it.
            I used pecan but you can use any smoking wood that you desire and
            have available.
            Once the smoker is ready, place the stuffed chicken directly on the
            smoker grate and insert a probe from a digital probe meat
            thermometer (if you have one) so you will know the exact time it is
            finished.
            You can also use a super fast meat thermometer such as the Thermapen
            but this requires you to open the door several times and you stand
            the chance of overcooking the chicken if it happens to get done
            sooner than you expect.
          </p>
          <p>
            Serve
            When the chicken is done cooking, remove it from the smoker and let
            it rest for a couple of minutes before serving.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
