<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('creamy_scallop_fettuccine_with_lemon_and_capers.png', :alt => 'Creamy Scallop Fettuccine with Lemon and Capers') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Creamy Scallop Fettuccine with Lemon and Capers
          </p>
          <p>
            <%= link_to "Reddit User: BusyEyes - Reddit",
            "https://www.reddit.com/r/recipes/comments/9i49ze/creamy_scallop_fettuccine_with_lemon_and_capers/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                A creamy pasta dish topped with scallops
              </p>
              <p>
                Prep: 30 mins
                Cook: 15 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 1 pound sea scallops </li>
                <li> 3 tablespoons butter (or oil) </li>
                <li> 16 ounces fettuccine (plus ½ cup reserved pasta cooking water) </li>
                <li> 1 lemon </li>
                <li> 3.5 ounces capers </li>
                <li> ½ cup chicken stock </li>
                <li> ½ cup finely grated Pecorino Romano cheese </li>
                <li> ⅓ cup fresh parsley </li>
                <li> Salt, pepper, and crushed red pepper to taste </li>
                <li> ¼ cup heavy cream </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Bring a large pot of salted water to a boil and cook the pasta
            according to the pasta instructions and reserve ½ cup of the pasta
            cooking water. Drain and rinse the pasta and set aside.
          </p>
          <p>
            As the fettuccine is cooking, prepare the remaining ingredients. Pat
            the scallops dry and remove the muscle. Transfer to a plate and keep
            in the fridge. Zest the lemon and transfer the zest to a small bowl.
            Juice the lemon into another bowl. Drain and rinse the capers and
            transfer them to the bowl of lemon juice. Mince the parsley leaves.
            Add the grated cheese and minced parsley to the bowl of lemon zest
            and toss to combine. Season with a touch of salt and pepper.
          </p>
          <p>
            Once the pasta is cooked and all the ingredients are prepped, fry
            the scallops. First, season the scallops with salt and pepper. Next,
            heat the butter in a large skillet (large enough to later hold the
            pasta) over high heat until very hot and frothy. Add the scallops
            and cook for about 2 minutes until very well browned. Flip and cook
            an additional minute or so or until the scallops are cooked through
            (pearly white). Remove from heat and transfer to a warm plate.
          </p>
          <p>
            Add the capers and lemon juice to the skillet over medium high along
            with a pinch of crushed red pepper to taste. Cook for 1-2 minutes.
            Add the chicken stock and scrape up any browned bits stuck to the
            bottom. Bring to a boil and cook for 5 minutes until reduced
            slightly.
          </p>
          <p>
            Add the bowl of cheese, lemon zest, and parsley and whisk
            it into the sauce. Cook for another minute or two until
            incorporated. Add the cream and pasta cooking water and bring to a
            low boil. Reduce the heat and then add the fettuccine and toss to
            combine. Cook for 1-2 minutes more or until the pasta is warmed
            through and completely coated with the sauce. Add the scallops back
            in and toss to combine (if desired, or serve the scallops on top).
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
