<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('creamy_tomato_soup.png', :alt => 'Creamy Tomato Soup with Roasted Garlic Butter Cheesy Bread') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Creamy Tomato Soup with Roasted Garlic Butter Cheesy Bread
          </p>
          <p>
            <%= link_to "Reddit User: NerdsWithKnives - Reddit",
            "https://www.reddit.com/r/recipes/comments/86knxj/creamy_tomato_soup_with_roasted_garlic_butter/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Perfect to warm you on cold wintery days
              </p>
              <p>
                Prep: 30 mins
                Cook: 1 hour
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 2 tablespoons (30ml) extra-virgin olive oil </li>
                <li> 2 tablespoons (30g) unsalted butter </li>
                <li> 2 medium yellow onions, chopped (1 pound; 455g) </li>
                <li> 4 medium cloves garlic, chopped (about 1 tablespoon) </li>
                <li> 1/2 cup (55g) roughly chopped sun-dried tomatoes, drained of oil </li>
                <li> 1/4 cup (30g) all purpose flour </li>
                <li> 6 cups (1.4L) homemade or boxed low sodium chicken or vegetable broth </li>
                <li> 2 (28oz, 830ml) cans whole peeled or crushed tomatoes </li>
                <li> 1 tablespoon (20g) honey </li>
                <li> 2 teaspoons (1.5g) fresh thyme leaves (or 1 scant teaspoon dried) </li>
                <li> Kosher salt and freshly ground black pepper, to taste </li>
                <li> 6 tablespoons (3oz, 85g) Mascarpone cheese or cream cheese </li>
                <li> 1/4 cup (1g) thinly sliced fresh basil, chives, or dill, optional for garnish </li>
                <li> For Roasted Garlic Butter Cheesy Toast </li>
                <li> 1 tablespoon (15ml) olive oil </li>
                <li> 2 heads garlic </li>
                <li> 1 cup (4oz, 115g) grated sharp cheddar cheese </li>
                <li> 1 cup (4oz, 115g) grated gruyere cheese </li>
                <li> 3 tablespoons (45g) unsalted butter, room temperature </li>
                <li> 1/2 teaspoon (3g) kosher salt </li>
                <li> 1/2 teaspoon (1g) freshly ground black pepper </li>
                <li> 1 crusty baguette loaf, cut on a sharp angle, into 12 slices (about 1 1/2-inch thick) </li>
                <li> 2 tablespoons (.5g) chopped parsley, basil or chives </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            For Soup: In an enameled (non-reactive) 5- to 6-quart soup pot or
            Dutch oven, heat oil and butter over medium heat until butter foams.
            Add the onions and cook, stirring occasionally, until onions are
            soft and translucent but not brown, about 8 minutes. Add garlic and
            sun-dried tomatoes and cook for another 2 minutes. Add the flour and
            cook, stirring for 2 minutes. Stir in broth, canned tomatoes (crush
            lightly with spoon if using whole), honey, thyme, and 1/2 teaspoon
            salt and 1/4 teaspoon pepper.
          </p>
          <p>
            Bring to a simmer over medium-high
            heat, stirring often. Reduce the heat to low, cover, and simmer for
            30 minutes. Let cool briefly and then purée with a stick blender, or
            in two or three batches in a standing blender or food processor.
            Return soup to the pot, if necessary, and turn heat to low. Add
            mascarpone cheese and stir until melted and fully incorporated.
            Season to taste with salt and pepper.
          </p>
          <p>
            For garlic toast: Preheat oven to 350ºF. Line a baking tray with
            foil or parchment. Remove loose papery outer skin from garlic bulbs,
            but don’t separate cloves. Cut off top of garlic bulbs, exposing
            ends of individual cloves. Place both heads of garlic, cut side up,
            onto a square of foil and drizzle with a half tablespoon of oil on
            each. Tightly cinch up the foil and roast for 30 to 40 minutes until
            heads are light brown and very soft. Set aside until cool enough to
            handle.
          </p>
          <p>
            Squish roasted cloves out of the skins into a medium bowl. Add
            cheeses, butter, salt and pepper. Mix until combined.
          </p>
          <p>
            Switch oven to broil and place rack 5 to 6 inches from heat. Evenly
            spread the cheese mixture onto bread slices. Place slices on lined
            tray, cheese-side up and broil until cheese is melted and browned
            in spots, about 3 to 5 minutes. Remove from oven, scatter with herbs
            and serve with soup. In a sealed nonreactive container, tomato soup
            will keep up to 1 week in the refrigerator or 6 months in the freezer.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
