<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='preamble'>
      <h1>Easy</h1>
      <p>
        (Student compatible)
      </p>
    </div>

    <div class="clearfix">
      <%= link_to their_recipes_bacon_egg_and_spinach_freid_rice_path do %>
        <div class="nonFilterDiv meat easy">
          <%= image_tag('bacon_egg_and_spinach_freid_rice.png', :alt => 'Bacon Egg and Spinach Fried Rice') %>
          <h2>Bacon Egg and Spinach Fried Rice</h2>
          <p>
            Bacon, a crowd pleaser. Mixed with some healthy ingredients
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_bacon_herb_and_cheese_star_bread_path do %>
        <div class="nonFilterDiv meat easy">
          <%= image_tag('bacon_herb_and_cheese_star_bread.png', :alt => 'Bacon, herb, and cheese star bread') %>
          <h2>Bacon, herb, and cheese star bread</h2>
          <p>
            Looks great and is great for starts or a tasty bite
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_caramelised_onions_path do %>
        <div class="nonFilterDiv easy misc">
          <%= image_tag('caramelised_onions.png', :alt => 'Caramelised Onions') %>
          <h2>Caramelised Onions</h2>
          <p>
            Okay caramelised onions are delicious and are amazing with/on
            anything
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_chcken_pesto_pene_with_bacon_and_feta_path do %>
        <div class="nonFilterDiv meat pasta_dishes easy">
          <%= image_tag('chcken_pesto_pene_with_bacon_and_feta.png', :alt => 'Chicken Pesto Penne With Bacon & Feta') %>
          <h2>Chicken Pesto Penne With Bacon & Feta</h2>
          <p>
            A simple pasta dish for all to try
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_cheese_and_ham_omelette_path do %>
        <div class="nonFilterDiv healthy easy">
          <%= image_tag('cheese_and_ham_omelette.png', :alt => 'Cheese and Hame Omelette') %>
          <h2>Cheese and Hame Omelette</h2>
          <p>
            A classic omelette recipe, held together with strong cheese and
            mature ham
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_garlic_butter_steak_and_potatoes_path do %>
        <div class="nonFilterDiv potato_dishes meat easy">
          <%= image_tag('garlic_butter_steak_and_potatoes.png', :alt => 'Garlic Butter Steak and Potatoes Skillet') %>
          <h2>Garlic Butter Steak and Potatoes Skillet</h2>
          <p>
            You can never go wrong with a steak unless you go well done...
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_pancakes_path do %>
        <div class="nonFilterDiv easy">
          <%= image_tag('pancakes.png', :alt => 'Pancakes') %>
          <h2>Pancakes</h2>
          <p>
            Ohh my god pancakes pancakes pancakes!
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_welsh_rarebit_path do %>
        <div class="nonFilterDiv easy misc">
          <%= image_tag('welsh_rarebit.png', :alt => 'Welsh Rarebit') %>
          <h2>Welsh Rarebit</h2>
          <p>
            Welsh rarebit, one of the most famous Welsh dishes of them all
          </p>
        </div>
      <% end %>
    </div>

  </div>
</div>
<%= render 'shared/footer' %>
