<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('firecracker_shrimp.png', :alt => 'Firecracker Shrimp') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Firecracker Shrimp
          </p>
          <p>
            <%= link_to "Reddit User: artzyfoodie - Reddit",
            "https://www.reddit.com/r/recipes/comments/8sk5wf/firecracker_shrimp/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Bang Bang Bang Bang Bang Bang
              </p>
              <p>
                Prep: xx hour xx min
                Cook: xx hour xx min
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 1/2 cup mayonnaise </li>
                <li> 1 Tbsp sweet chili sauce </li>
                <li> 1/4 cup sriracha </li>
                <li> 1/4 tsp salt </li>
                <li> 1 pound shrimp, peeled and deveined </li>
                <li> 1/2 cup cornstarch </li>
                <li> 1-2 cups flavorless oil for frying </li>
                <li> 2 cups greens </li>
                <li> 2 green onions, chopped </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Mix together the mayonnaise, sweet chili sauce, sriracha, and salt
            and set aside
          </p>
          <p>
            In a deep pan, heat enough oil to cover the shrimp to about 350
            degrees
          </p>
          <p>
            Coat the shrimp in cornstarch and fry about 2 minutes Fry in small
            batches and do not overcrowd the pan
          </p>
          <p>
            Toss the fried shrimp in the sauce
          </p>
          <p>
            Put the greens in a bowl, top with the shrimp, and garnish with the
            green onions
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
