<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('hunters_sausage_and_sauerkraut_stew.png', :alt => 'Hunter’s Sausage-and-Sauerkraut Stew') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Hunter’s Sausage-and-Sauerkraut Stew
          </p>
          <p>
            <%= link_to "Reddit User: bob-the-cook - Reddit",
            "https://www.reddit.com/r/recipes/comments/84z4te/hunters_sausageandsauerkraut_stew/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Well the Germans have arrived, with their sauerkraut
              </p>
              <p>
                Prep: 10 mins
                Cook: 20 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 2 red bell peppers </li>
                <li> 4 tomatoes </li>
                <li> 1 pound boneless, skinless chicken thighs </li>
                <li> Kosher salt </li>
                <li> Freshly ground black pepper </li>
                <li> 2 tablespoons unsalted butter </li>
                <li> 4 ounces diced bacon </li>
                <li> 1 yellow onion, diced </li>
                <li> 3 cups fresh chanterelle or button mushrooms, sliced </li>
                <li> 1 fennel bulb, halved and thinly sliced </li>
                <li> 1 leek, thinly sliced </li>
                <li> 1/4 cup sliced garlic </li>
                <li> 1/4 cup sweet paprika </li>
                <li> 1 1/2 pounds Polish kielbasa, cut into </li>
                <li> 1/4-inch-thick slices </li>
                <li> 1/2 cup chopped fresh dill </li>
                <li> 1/4 cup chopped fresh flat-leaf parsley </li>
                <li> 2 cups red wine </li>
                <li> 4 cups chicken stock </li>
                <li> 4 cups fresh sauerkraut with juices </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Preheat broiler. Place bell peppers on a small baking sheet, and
            roast under broiler or directly over a gas flame, turning frequently,
            until skins are blackened, about 5 minutes. Transfer to a medium
            heatproof bowl, and cover tightly with plastic wrap. Let stand until
            peppers are cool enough to handle, about 10 minutes. Remove and
            discard skins, stems, and seeds; place in a blender. Add tomatoes;
            process until smooth.
          </p>
          <p>
            Season chicken to taste with salt and pepper. Melt butter in a large
            Dutch oven over medium-high. Add chicken thighs, and cook until
            browned, about 4 minutes per side. Transfer chicken to a plate.
          </p>
          <p>
            Add bacon to Dutch oven, and cook, stirring, until bacon begins to
            render, about 2 minutes. Add onion and mushrooms, and cook, stirring
            occasionally, until onion begins to turn golden, about 5 minutes.
            Stir in fennel, leek, garlic, and paprika, and cook 2 minutes. Add
            kielbasa, dill, and parsley. Cook, stirring, until sausage is heated
            through, 3 to 4 minutes.
          </p>
          <p>
            Return chicken to Dutch oven. Add wine, bring to a boil, and cook
            until liquid is reduced by half, about 5 minutes. Add pepper mixture,
            and bring to a simmer. Add stock and sauerkraut; stir to combine.
            Bring to a simmer, reduce heat, and simmer gently until vegetables
            are tender and chicken shreds when prodded with a fork, about 45
            minutes. Season to taste with salt, and serve.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
