<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='preamble'>
      <h1>Their Recipes</h1>
      <p>
        Recipes we've trawled through the internet through to find, remembered,
        gone through old recipe books, family recipes and made up on the spot
        because our editor was standing behind us. All just for you
      </p>
    </div>

    <div class="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')"> Show all</button>
      <button class="btn" onclick="filterSelection('asian')"> Asian</button>
      <button class="btn" onclick="filterSelection('baking')"> Baking</button>
      <button class="btn" onclick="filterSelection('drinks')"> Drinks</button>
      <button class="btn" onclick="filterSelection('healthy')"> Healthy</button>
      <button class="btn" onclick="filterSelection('pasta_dishes')"> Pasta Dishes</button>
      <button class="btn" onclick="filterSelection('potato_dishes')"> Potato Dishes</button>
      <button class="btn" onclick="filterSelection('q&e')"> Quick and Easy</button>
      <button class="btn" onclick="filterSelection('seasonal')"> Seasonal</button>
      <button class="btn" onclick="filterSelection('misc')"> Misc</button>
    </div>

    <div class="clearfix">
      <%= link_to their_recipes_baked_potatoes_path do %>
        <div class="filterDiv potato_dishes">
          <%= image_tag('baked_potatoes.png', :alt => 'Baked Potatoes') %>
          <h2>Baked Potatoes</h2>
          <p>
            The ultimate baked potato with cheese and baked beans.
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_chocolate_cake_path do %>
        <div class="filterDiv baking">
          <%= image_tag('chocolate_cake.png', :alt => 'Chocolate Cake') %>
          <h2>Chocolate Cake</h2>
          <p>
            Indulge yourself with this heavenly chocolate cake.
          </p>
        </div>
      <% end %>
    </div>

  </div>
</div>
<%= render 'shared/footer' %>

<script>
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }

  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className += " " + arr2[i];
      }
    }
  }

  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(" ");
  }

  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>
