<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <div class='preamble'>
      <h1>Their Recipes</h1>
      <p>
        Recipes we've trawled through the internet through to find, remembered,
        gone through old recipe books, family recipes and made up on the spot
        because our editor was standing behind us. All just for you
      </p>
    </div>

    <div class="clearfix">
      <%= link_to their_recipes_baked_potatoes_path do %>
        <div class="img-container">
          <%= image_tag('baked_potatoes.png', :alt => 'Baked Potatoes') %>
          <h2>Baked Potatoes</h2>
          <p>
            The ultimate baked potato with cheese and baked beans.
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_chocolate_cake_path do %>
        <div class="img-container">
          <%= image_tag('chocolate_cake.png', :alt => 'Chocolate Cake') %>
          <h2>Chocolate Cake</h2>
          <p>
            Indulge yourself with this heavenly chocolate cake.
          </p>
        </div>
      <% end %>
    </div>

  </div>
</div>
<%= render 'shared/footer' %>
