<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='preamble'>
      <h1>Their Recipes</h1>
      <p>
        Recipes we've trawled through the internet through to find, remembered,
        gone through old recipe books, family recipes and made up on the spot
        because our editor was standing behind us. All just for you
      </p>
    </div>

    <div class="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')"> Show all</button>
      <button class="btn" onclick="filterSelection('americas')"> Americas</button>
      <button class="btn" onclick="filterSelection('asian')"> Asian</button>
      <button class="btn" onclick="filterSelection('baking')"> Baking</button>
      <button class="btn" onclick="filterSelection('bread')"> Bread</button>
      <button class="btn" onclick="filterSelection('decadence')"> Decadence</button>
      <button class="btn" onclick="filterSelection('dessert')"> Dessert</button>
      <button class="btn" onclick="filterSelection('drinks')"> Drinks</button>
      <button class="btn" onclick="filterSelection('fish')"> Fish</button>
      <button class="btn" onclick="filterSelection('healthy')"> Healthy</button>
      <button class="btn" onclick="filterSelection('pizza')"> Pizza</button>
      <button class="btn" onclick="filterSelection('meat')"> Meat</button>
      <button class="btn" onclick="filterSelection('movie')"> Movie Food</button>
      <button class="btn" onclick="filterSelection('pasta_dishes')"> Pasta Dishes</button>
      <button class="btn" onclick="filterSelection('potato_dishes')"> Potato Dishes</button>
      <button class="btn" onclick="filterSelection('easy')"> Quick and Easy</button>
      <button class="btn" onclick="filterSelection('roast')"> Roast</button>
      <button class="btn" onclick="filterSelection('seafood')"> Seafood</button>
      <button class="btn" onclick="filterSelection('seasonal')"> Seasonal</button>
      <button class="btn" onclick="filterSelection('soup')"> Soup</button>
      <button class="btn" onclick="filterSelection('vegie')"> Vegie</button>
      <button class="btn" onclick="filterSelection('misc')"> Misc</button>
    </div>

    <div class="clearfix">
      <%= link_to their_recipes_acorn_squash_caramelized_onion_goat_cheese_pizza_path do %>
        <div class="filterDiv pizza healthy">
          <%= image_tag('acorn_squash_caramelized_onion_goat_cheese_pizza.png', :alt => 'Acorn Squash Carmelized Onion Goat Cheese Pizza') %>
          <h2>Acorn Squash Carmelized Onion Goat Cheese Pizza</h2>
          <p>
            A healthy vegitarian pizza topped with a range of toppings
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_asparagus_avocado_sushi_path do %>
        <div class="filterDiv asian healthy">
          <%= image_tag('asparagus_avocado_sushi.png', :alt => 'Asparagus & Avocado Sushi') %>
          <h2>Asparagus & Avocado Sushi</h2>
          <p>
            A delicious dish for vegan sushi lovers
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_bacon_egg_and_spinach_freid_rice_path do %>
        <div class="filterDiv meat easy">
          <%= image_tag('bacon_egg_and_spinach_freid_rice.png', :alt => 'Bacon Egg and Spinach Fried Rice') %>
          <h2>Bacon Egg and Spinach Fried Rice</h2>
          <p>
            Bacon, a crowd pleaser. Mixed with some healthy ingredients
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_bacon_herb_and_cheese_star_bread_path do %>
        <div class="filterDiv meat easy">
          <%= image_tag('bacon_herb_and_cheese_star_bread.png', :alt => 'Bacon, herb, and cheese star bread') %>
          <h2>Bacon, herb, and cheese star bread</h2>
          <p>
            Looks great and is great for starts or a tasty bite
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_baked_potatoes_path do %>
        <div class="filterDiv potato_dishes">
          <%= image_tag('baked_potatoes.png', :alt => 'Baked Potatoes') %>
          <h2>Baked Potatoes</h2>
          <p>
            The ultimate baked potato with cheese and baked beans.
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_baked_scotch_eggs_path do %>
        <div class="filterDiv meat baking">
          <%= image_tag('baked_scotch_eggs.png', :alt => 'Baked Scotch Eggs') %>
          <h2>Baked Scotch Eggs</h2>
          <p>
            A popular UK recipe made slightly healthier by baking
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_beef_stew_in_red_wine_sauce_path do %>
        <div class="filterDiv meat">
          <%= image_tag('beef_stew_in_red_wine_sauce.png', :alt => 'Beef Stew in Red Wine Sauce') %>
          <h2>Beef Stew in Red Wine Sauce</h2>
          <p>
            A brilliant *hick* stew *hick* made with *hick* plenty of *hick*
            red wine... *hick*
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_beef_stew_with_dumplings_path do %>
        <div class="filterDiv meat">
          <%= image_tag('beef_stew_with_dumplings.png', :alt => 'Beef Stew with Dumplings') %>
          <h2>Beef Stew with Dumplings</h2>
          <p>
            A rich beef stew with fluffy dumplings to warm you right down to
            your toes
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_beef_tenderloin_steaks_with_celert_root_gratin_path do %>
        <div class="filterDiv meat">
          <%= image_tag('beef_tenderloin_steaks_with_celert_root_gratin.png', :alt => 'Beef Tenderloin Steaks with Celery Root Gratins') %>
          <h2>Beef Tenderloin Steaks with Celery Root Gratin</h2>
          <p>
            Tenderloin steaks topped with a rich pan sauce
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_bibimbap_path do %>
        <div class="filterDiv asian meat">
          <%= image_tag('bibimbap.png', :alt => 'Bibimbap') %>
          <h2>Bibimbap</h2>
          <p>
            A Korean dish, a fried egg, carrot, spinache, steak, seasmse
            seeds and rice
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_blueberry_vanilla_cake_path do %>
        <div class="filterDiv baking vegie">
          <%= image_tag('blueberry_vanilla_cake.png', :alt => 'No-Bake Blueberry Vanilla Cake') %>
          <h2>No-Bake Blueberry Vanilla Cake</h2>
          <p>
            No-bake blueberry vanilla cake
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_bouillabaisse_path do %>
        <div class="filterDiv seafood fish">
          <%= image_tag('bouillabaisse.png', :alt => 'Bouillabaisse') %>
          <h2>Bouillabaisse</h2>
          <p>
            A classic Provençal seafood stew is loaded with clams, lobster
            and fish
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_braised_lamb_with_herb_scented_jus_path do %>
        <div class="filterDiv meat roast seasonal">
          <%= image_tag('braised_lamb_with_herb_scented_jus.png', :alt => 'Braised Lamb with Herb-Scented Jus') %>
          <h2>Braised Lamb with Herb-Scented Jus</h2>
          <p>
            Tender braised leg of lamb to be served on a bed of vegtables
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_caramel_cookies_path do %>
        <div class="filterDiv baking decadence">
          <%= image_tag('caramel_cookies.png', :alt => 'Caramel Cookies') %>
          <h2>Caramel Cookies</h2>
          <p>
            Cookies with caramel inside them, sounds and is perfect
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_caramelised_onions_path do %>
        <div class="filterDiv easy misc">
          <%= image_tag('caramelised_onions.png', :alt => 'Caramelised Onions') %>
          <h2>Caramelised Onions</h2>
          <p>
            Okay caramelised onions are delicious and are amazing with/on
            anything
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_cassoulet_with_duck_confit_path do %>
        <div class="filterDiv meat">
          <%= image_tag('cassoulet_with_duck_confit.png', :alt => 'Cassoulet with Duck Confit') %>
          <h2>Cassoulet with Duck Confit</h2>
          <p>
            The classic French stew
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_chcken_pesto_pene_with_bacon_and_feta_path do %>
        <div class="filterDiv meat pasta_dishes easy">
          <%= image_tag('chcken_pesto_pene_with_bacon_and_feta.png', :alt => 'Chicken Pesto Penne With Bacon & Feta') %>
          <h2>Chicken Pesto Penne With Bacon & Feta</h2>
          <p>
            A simple pasta dish for all to try
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_cheese_and_ham_omelette_path do %>
        <div class="filterDiv healthy easy">
          <%= image_tag('cheese_and_ham_omelette.png', :alt => 'Cheese and Hame Omelette') %>
          <h2>Cheese and Hame Omelette</h2>
          <p>
            A classic omelette recipe, held together with strong cheese and
            mature ham
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_chicken_noodle_soup_path do %>
        <div class="filterDiv asian soup">
          <%= image_tag('chicken_noodle_soup.png', :alt => 'Classic Chicken Noodle Soup') %>
          <h2>Classic Chicken Noodle Soup</h2>
          <p>
            A delightful and classic chicken soup
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_chocolate_cake_path do %>
        <div class="filterDiv baking">
          <%= image_tag('chocolate_cake.png', :alt => 'Chocolate Cake') %>
          <h2>Chocolate Cake</h2>
          <p>
            Indulge yourself with this heavenly chocolate cake.
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_chocolate_macarons_path do %>
        <div class="filterDiv baking">
          <%= image_tag('chocolate_macarons.png', :alt => 'Chocolate Macrons') %>
          <h2>Chocolate Macrons</h2>
          <p>
            A sweet meringue-based French confection
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_cream_cheese_and_jalapeno_stuffed_chicken_breast_path do %>
        <div class="filterDiv meat decadence">
          <%= image_tag('cream_cheese_and_jalapeno_stuffed_chicken_breast.png', :alt => 'Cream Cheese & Jalapeño Stuffed Chicken Breast') %>
          <h2>Cream Cheese & Jalapeño Stuffed Chicken Breast</h2>
          <p>
            A smoked, cheese and jalapeño stuffed monument to decadence
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_creamy_scallop_fettuccine_with_lemon_and_capers_path do %>
        <div class="filterDiv pasta_dishes seafood">
          <%= image_tag('creamy_scallop_fettuccine_with_lemon_and_capers.png', :alt => 'Creamy Scallop Fettuccine with Lemon and Capers') %>
          <h2>Creamy Scallop Fettuccine with Lemon and Capers</h2>
          <p>
            A creamy pasta dish topped with scallops
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_creamy_tomato_soup_path do %>
        <div class="filterDiv soup">
          <%= image_tag('creamy_tomato_soup.png', :alt => 'Creamy Tomato Soup with Roasted Garlic Butter Cheesy Bread') %>
          <h2>Creamy Tomato Soup with Roasted Garlic Butter Cheesy Bread</h2>
          <p>
            Perfect to warm you on cold wintery days
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_devonshire_honey_cake_path do %>
        <div class="filterDiv baking">
          <%= image_tag('devonshire_honey_cake.png', :alt => 'Devonshire Honey Cake') %>
          <h2>Devonshire Honey Cake</h2>
          <p>
            Devonshire honey cake, perfect for a cream tea
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_dinner_rolls_path do %>
        <div class="filterDiv baking">
          <%= image_tag('dinner_rolls.png', :alt => 'Dinner Rolls') %>
          <h2>Dinner Rolls</h2>
          <p>
            Warm, homemade dinner rolls sound good to you?
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_firecracker_shrimp_path do %>
        <div class="filterDiv seafood">
          <%= image_tag('firecracker_shrimp.png', :alt => 'Firecracker Shrimp') %>
          <h2>Firecracker Shrimp</h2>
          <p>
            Bang Bang Bang Bang Bang Bang
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_fruit_clafoutis_path do %>
        <div class="filterDiv dessert">
          <%= image_tag('fruit_clafoutis.png', :alt => 'Fruit Clafoutis') %>
          <h2>Fruit Clafoutis</h2>
          <p>
            A French dessert that's perfect for using up summer fruit
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_garlic_butter_steak_and_potatoes_path do %>
        <div class="filterDiv potato_dishes meat easy">
          <%= image_tag('garlic_butter_steak_and_potatoes.png', :alt => 'Garlic Butter Steak and Potatoes Skillet') %>
          <h2>Garlic Butter Steak and Potatoes Skillet</h2>
          <p>
            You can never go wrong with a steak unless you go well done...
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_grilled_chicken_salad_with_cabbage_path do %>
        <div class="filterDiv meat healthy">
          <%= image_tag('grilled_chicken_salad_with_cabbage.png', :alt => 'Grilled Chicken Salad with Cabbage and Raspberry Balsamic Dressing') %>
          <h2>Grilled Chicken Salad with Cabbage and Raspberry Balsamic Dressing</h2>
          <p>
            A marinated chicken, on a bed of salad, done with dressing
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_grilled_oysters_path do %>
        <div class="filterDiv fish">
          <%= image_tag('grilled_oysters.png', :alt => 'Grilled Oysters') %>
          <h2>Grilled Oysters</h2>
          <p>
            Grilled Oysters, not for everyone but they're really good
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_honey_and_mustard_roast_gammon_path do %>
        <div class="filterDiv roast meat">
          <%= image_tag('honey_and_mustard_roast_gammon.png', :alt => 'Honey Mustard Roast Gammon') %>
          <h2>Honey Mustard Roast Gammon</h2>
          <p>
            Roast gammon with a honey-mustard coating makes fabulous eating
            for all occasions
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_honey_mustard_chicken_thighs_with_argula_path do %>
        <div class="filterDiv meat">
          <%= image_tag('honey_mustard_chicken_thighs_with_argula.png', :alt => 'Honey Mustard Chicken Thighs with Arugula and Mushrooms') %>
          <h2>Honey Mustard Chicken Thighs with Arugula and Mushrooms</h2>
          <p>
            Take it from me honey mustard chicken thighs are good
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_honey_tamarind_baby_back_ribs_path do %>
        <div class="filterDiv meat decadence">
          <%= image_tag('honey_tamarind_baby_back_ribs.png', :alt => 'Honey-Tamarind Baby Back Ribs') %>
          <h2>Honey-Tamarind Baby Back Ribs</h2>
          <p>
            Baby back ribs, baby back ribs, baby back ribs, baby back ribs
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_hunters_sausage_and_sauerkraut_stew_path do %>
        <div class="filterDiv meat decadence">
          <%= image_tag('hunters_sausage_and_sauerkraut_stew.png', :alt => 'Hunter’s Sausage-and-Sauerkraut Stew') %>
          <h2>Hunter’s Sausage-and-Sauerkraut Stew</h2>
          <p>
            Well the Germans have arrived, with their sauerkraut
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_injera_path do %>
        <div class="filterDiv baking bread">
          <%= image_tag('injera.png', :alt => 'Injera') %>
          <h2>Injera</h2>
          <p>
            Injera (Ethiopian Sour Flatbread) It's a kind of sour flatbread
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_lembas_bread_path do %>
        <div class="filterDiv baking bread movie">
          <%= image_tag('lembas_bread.png', :alt => 'Lembas Bread') %>
          <h2>Lembas Bread</h2>
          <p>
            Ohhhhhhh lembas bread from Lord of The Rings!
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_lemon_pie_path do %>
        <div class="filterDiv baking">
          <%= image_tag('lemon_pie.png', :alt => 'Lemon Pie') %>
          <h2>Lemon Pie</h2>
          <p>
            Lemon pie, not an actual pie mind you (don't throw at clowns)
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_mar_bar_cake_path do %>
        <div class="filterDiv decadence dessert">
          <%= image_tag('mar_bar_cake.png', :alt => 'Mars Bar Cake') %>
          <h2>Mars Bar Cake</h2>
          <p>
            Okay, stop what you're doing and make this, you will not be
            disapointed
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_marshmallow_crispie_bars_path do %>
        <div class="filterDiv decadence dessert">
          <%= image_tag('marshmallow_crispie_bars.png', :alt => 'Marhmallow Crispie Bars') %>
          <h2>Marhmallow Crispie Bars</h2>
          <p>
            Look, they're not quite Mars Bar Cake but damn, they're good
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_moroccan_braised_chicken_path do %>
        <div class="filterDiv meat">
          <%= image_tag('moroccan_braised_chicken.png', :alt => 'Moroccan Braised Chicken, Lentils, Smoked Paprika & Tomato') %>
          <h2>Moroccan Braised Chicken, Lentils, Smoked Paprika & Tomato</h2>
          <p>
            A Moroccan dish brought to life with lentils, smoked paprika and
            tomato
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_mussels_and_clams_in_a_spicy_tomato_broth_path do %>
        <div class="filterDiv seafood">
          <%= image_tag('mussels_and_clams_in_a_spicy_tomato_broth.png', :alt => 'Mussels and Clams in a Spicy Tomato Broth with Bacon and Arugula') %>
          <h2>Mussels and Clams in a Spicy Tomato Broth with Bacon and Arugula</h2>
          <p>
            Spicy seafood, for the adventures type
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_over_the_top_mushroom_quiche_path do %>
        <div class="filterDiv vegie">
          <%= image_tag('over_the_top_mushroom_quiche.png', :alt => 'Over The Top Mushroom Quiche') %>
          <h2>Over The Top Mushroom Quiche</h2>
          <p>
            A high rise quiche, layered with sautéed mushrooms and shredded
            cheese
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_paella_path do %>
        <div class="filterDiv seafood">
          <%= image_tag('paella.png', :alt => 'Paella') %>
          <h2>Paella</h2>
          <p>
            The traditional Spanish seafood dish, just don't do a Jamie
            Oliver
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_pan_roast_salmon_with_tomato_viniagrette_path do %>
        <div class="filterDiv fish healthy">
          <%= image_tag('pan_roast_salmon_with_tomato_viniagrette.png', :alt => 'Pan-Roasted Salmon with Tomato Vinaigrette') %>
          <h2>Pan-Roasted Salmon with Tomato Vinaigrette</h2>
          <p>
            Seared salmon with an amazing sauce
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_pancakes_path do %>
        <div class="filterDiv easy">
          <%= image_tag('pancakes.png', :alt => 'Pancakes') %>
          <h2>Pancakes</h2>
          <p>
            Ohh my god pancakes pancakes pancakes!
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_parmesan_and_garlic_crusted_potato_wedges_path do %>
        <div class="filterDiv potato_dishes misc">
          <%= image_tag('parmesan_and_garlic_crusted_potato_wedges.png', :alt => 'Parmesan and Garlic Crusted Potato Wedges') %>
          <h2>Parmesan and Garlic Crusted Potato Wedges</h2>
          <p>
            Potato wedges are good, these are better
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_potato_gnocchi_with_mushroom_ragu_path do %>
        <div class="filterDiv potato_dishes healthy">
          <%= image_tag('potato_gnocchi_with_mushroom_ragu.png', :alt => 'Potato Gnocchi with Mushroom Ragù') %>
          <h2>Potato Gnocchi with Mushroom Ragù</h2>
          <p>
            Gnocchi and mushrooms what could go wrong
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_potato_wedges_path do %>
        <div class="filterDiv potato_dishes vegie">
          <%= image_tag('potato_wedges.png', :alt => 'Potato Wedges') %>
          <h2>Potato Wedges</h2>
          <p>
            These chunky, peppery golden potato wedges are always a winner
            at parties and barbecues
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_pull_apart_flauta_ring_path do %>
        <div class="filterDiv americas meat">
          <%= image_tag('pull_apart_flauta_ring.png', :alt => 'Pull-Apart Flauta Ring') %>
          <h2>Pull-Apart Flauta Ring</h2>
          <p>
            Kinda like faijitas but cooked and crispy and with chicken in
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_roast_chicken_with_aromatic_jus_path do %>
        <div class="filterDiv meat roast">
          <%= image_tag('roast_chicken_with_aromatic_jus.png', :alt => 'Roast Chicken with Aromatic Jus') %>
          <h2>Roast Chicken with Aromatic Jus</h2>
          <p>
            Who doesn't love a roast chicken, especially with an aromatic jus
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_roast_leg_of_lamb_path do %>
        <div class="filterDiv meat roast seasonal">
          <%= image_tag('roast_leg_of_lamb.png', :alt => 'Roast Leg of Lamb') %>
          <h2>Roast Leg of Lamb</h2>
          <p>
            The Greek way of doing a roast leg of lamb
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_russian_honey_cake_path do %>
        <div class="filterDiv baking">
          <%= image_tag('russian_honey_cake.png', :alt => 'Russian Honey Cake') %>
          <h2>Russian Honey Cake</h2>
          <p>
            Honey cake (aka Medovik) is one of the most famous Russian
            desserts
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_samoa_cookie_inspired_iced_coffee_path do %>
        <div class="filterDiv drinks">
          <%= image_tag('samoa_cookie_inspired_iced_coffee.png', :alt => 'Samoa Cookie-inspired Iced Coffee') %>
          <h2>Samoa Cookie-inspired Iced Coffee</h2>
          <p>
            A cold brew for a warm day
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_seared_scallops_in_a_cream_lemon_caper_sauce_path do %>
        <div class="filterDiv seafood">
          <%= image_tag('seared_scallops_in_a_cream_lemon_caper_sauce.png', :alt => 'Seared Scallops in a Creamy Lemon Caper Sauce') %>
          <h2>Seared Scallops in a Creamy Lemon Caper Sauce</h2>
          <p>
            Seared scallops done in a creamy caper sauce with a topping of
            Orzo
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_slow_roasted_pork_loin_with_molasses_and_balsamic_glaze_path do %>
        <div class="filterDiv meat roast">
          <%= image_tag('slow_roasted_pork_loin_with_molasses_and_balsamic_glaze.png', :alt => 'Slow-Roasted Pork Loin with Molasses and Balsamic Glaze') %>
          <h2>Slow-Roasted Pork Loin with Molasses and Balsamic Glaze</h2>
          <p>
            Okay, we're drooling, you're drooling. What we'd do just to smell
            this one
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_spicy_italian_pizza_path do %>
        <div class="filterDiv pizza">
          <%= image_tag('spicy_italian_pizza.png', :alt => 'Spicy Italian Pizza') %>
          <h2>Spicy Italian Pizza</h2>
          <p>
            Okay, family friendly thoughts. Who wants some spicy Italian Pizza?
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_spinache_and_artichoke_dip_stuffed_garlic_bread_path do %>
        <div class="filterDiv bread misc">
          <%= image_tag('spinache_and_artichoke_dip_stuffed_garlic_bread.png', :alt => 'Spinach and Artichoke Dip Stuffed Garlic Bread') %>
          <h2>Spinach and Artichoke Dip Stuffed Garlic Bread</h2>
          <p>
            Looking for ways to inprove a french baguette, here's one
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_trout_with_garlic_lemon_butter_herb_sauce_path do %>
        <div class="filterDiv fish">
          <%= image_tag('trout_with_garlic_lemon_butter_herb_sauce.png', :alt => 'Trout with Garlic Lemon Butter Herb Sauce') %>
          <h2>Trout with Garlic Lemon Butter Herb Sauce</h2>
          <p>
            Just jump into your local river, grab a trout and your ready
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_welsh_rarebit_path do %>
        <div class="filterDiv easy misc">
          <%= image_tag('welsh_rarebit.png', :alt => 'Welsh Rarebit') %>
          <h2>Welsh Rarebit</h2>
          <p>
            Welsh rarebit, one of the most famous Welsh dishes of them all
          </p>
        </div>
      <% end %>
    </div>

  </div>
</div>
<%= render 'shared/footer' %>

<script>
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      removeClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) addClass(x[i], "show");
    }
  }

  function addClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className += " " + arr2[i];
      }
    }
  }

  function removeClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(" ");
  }

  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>
