<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='preamble'>
      <h1>Their Recipes</h1>
      <p>
        Recipes we've trawled through the internet through to find, remembered,
        gone through old recipe books, family recipes and made up on the spot
        because our editor was standing behind us. All just for you
      </p>
    </div>

    <div class="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')"> Show all</button>
      <button class="btn" onclick="filterSelection('asian')"> Asian</button>
      <button class="btn" onclick="filterSelection('baking')"> Baking</button>
      <button class="btn" onclick="filterSelection('bread')"> Bread</button>
      <button class="btn" onclick="filterSelection('crustaceans')"> Crustaceans</button>
      <button class="btn" onclick="filterSelection('dessert')"> Dessert</button>
      <button class="btn" onclick="filterSelection('drinks')"> Drinks</button>
      <button class="btn" onclick="filterSelection('fish')"> Fish</button>
      <button class="btn" onclick="filterSelection('healthy')"> Healthy</button>
      <button class="btn" onclick="filterSelection('decadence')"> Decadence</button>
      <button class="btn" onclick="filterSelection('meat')"> Meat</button>
      <button class="btn" onclick="filterSelection('pasta_dishes')"> Pasta Dishes</button>
      <button class="btn" onclick="filterSelection('potato_dishes')"> Potato Dishes</button>
      <button class="btn" onclick="filterSelection('q&e')"> Quick and Easy</button>
      <button class="btn" onclick="filterSelection('roast')"> Roast</button>
      <button class="btn" onclick="filterSelection('seasonal')"> Seasonal</button>
      <button class="btn" onclick="filterSelection('soup')"> Soup</button>
      <button class="btn" onclick="filterSelection('vegie')"> Vegie</button>
      <button class="btn" onclick="filterSelection('misc')"> Misc</button>
    </div>

    <div class="clearfix">
      <%= link_to their_recipes_asparagus_avocado_sushi_path do %>
        <div class="filterDiv asian healthy">
          <%= image_tag('asparagus_avocado_sushi.png', :alt => 'Asparagus & Avocado Sushi') %>
          <h2>Asparagus & Avocado Sushi</h2>
          <p>
            A delicious dish for vegan sushi lovers
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_baked_potatoes_path do %>
        <div class="filterDiv potato_dishes">
          <%= image_tag('baked_potatoes.png', :alt => 'Baked Potatoes') %>
          <h2>Baked Potatoes</h2>
          <p>
            The ultimate baked potato with cheese and baked beans.
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_baked_scotch_eggs_path do %>
        <div class="filterDiv meat baking">
          <%= image_tag('baked_scotch_eggs.png', :alt => 'Baked Scotch Eggs') %>
          <h2>Baked Scotch Eggs</h2>
          <p>
            A popular UK recipe made slightly healthier by baking
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_beef_tenderloin_steaks_with_celert_root_gratin_path do %>
        <div class="filterDiv meat">
          <%= image_tag('beef_tenderloin_steaks_with_celert_root_gratin.png', :alt => 'Beef Tenderloin Steaks with Celery Root Gratins') %>
          <h2>Beef Tenderloin Steaks with Celery Root Gratin</h2>
          <p>
            Tenderloin steaks topped with a rich pan sauce
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_bouillabaisse_path do %>
        <div class="filterDiv crustaceans fish">
          <%= image_tag('bouillabaisse.png', :alt => 'Bouillabaisse') %>
          <h2>Bouillabaisse</h2>
          <p>
            A classic Provençal seafood stew is loaded with clams, lobster
            and fish
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_braised_lamb_with_herb_scented_jus_path do %>
        <div class="filterDiv meat roast">
          <%= image_tag('braised_lamb_with_herb_scented_jus.png', :alt => 'Braised Lamb with Herb-Scented Jus') %>
          <h2>Braised Lamb with Herb-Scented Jus</h2>
          <p>
            Tender braised leg of lamb to be served on a bed of vegtables
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_cassoulet_with_duck_confit_path do %>
        <div class="filterDiv meat">
          <%= image_tag('cassoulet_with_duck_confit.png', :alt => 'Cassoulet with Duck Confit') %>
          <h2>Cassoulet with Duck Confit</h2>
          <p>
            The classic French stew
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_chicken_noodle_soup_path do %>
        <div class="filterDiv asian soup">
          <%= image_tag('chicken_noodle_soup.png', :alt => 'Classic Chicken Noodle Soup') %>
          <h2>Classic Chicken Noodle Soup</h2>
          <p>
            A delightful and classic chicken soup
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_over_the_top_mushroom_quiche_path do %>
        <div class="filterDiv vegie">
          <%= image_tag('over_the_top_mushroom_quiche.png', :alt => 'Over The Top Mushroom Quiche') %>
          <h2>Over The Top Mushroom Quiche</h2>
          <p>
            A high rise quiche, layered with sautéed mushrooms and shredded
            cheese
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_chocolate_cake_path do %>
        <div class="filterDiv baking">
          <%= image_tag('chocolate_cake.png', :alt => 'Chocolate Cake') %>
          <h2>Chocolate Cake</h2>
          <p>
            Indulge yourself with this heavenly chocolate cake.
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_chocolate_macarons_path do %>
        <div class="filterDiv baking">
          <%= image_tag('chocolate_macarons.png', :alt => 'Chocolate Macrons') %>
          <h2>Chocolate Macrons</h2>
          <p>
            A sweet meringue-based French confection
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_cream_cheese_and_jalapeno_stuffed_chicken_breast_path do %>
        <div class="filterDiv meat decadence">
          <%= image_tag('cream_cheese_and_jalapeno_stuffed_chicken_breast.png', :alt => 'Cream Cheese & Jalapeño Stuffed Chicken Breast') %>
          <h2>Cream Cheese & Jalapeño Stuffed Chicken Breast</h2>
          <p>
            A smoked, cheese and jalapeño stuffed monument to decadence
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_dinner_rolls_path do %>
        <div class="filterDiv baking">
          <%= image_tag('dinner_rolls.png', :alt => 'Dinner Rolls') %>
          <h2>Dinner Rolls</h2>
          <p>
            Warm, homemade dinner rolls sound good to you?
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_fruit_clafoutis_path do %>
        <div class="filterDiv dessert">
          <%= image_tag('fruit_clafoutis.png', :alt => 'Fruit Clafoutis') %>
          <h2>Fruit Clafoutis</h2>
          <p>
            A French dessert that's perfect for using up summer fruit
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_grilled_oysters_path do %>
        <div class="filterDiv fish">
          <%= image_tag('grilled_oysters.png', :alt => 'Grilled Oysters') %>
          <h2>Grilled Oysters</h2>
          <p>
            Grilled Oysters, not for everyone but they're really good
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_honey_tamarind_baby_back_ribs_path do %>
        <div class="filterDiv meat decadence">
          <%= image_tag('honey_tamarind_baby_back_ribs.png', :alt => 'Honey-Tamarind Baby Back Ribs') %>
          <h2>Honey-Tamarind Baby Back Ribs</h2>
          <p>
            Baby back ribs, baby back ribs, baby back ribs, baby back ribs
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_injera_path do %>
        <div class="filterDiv baking bread">
          <%= image_tag('injera.png', :alt => 'Injera') %>
          <h2>Injera</h2>
          <p>
            Injera (Ethiopian Sour Flatbread) It's a kind of sour flatbread
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_over_the_top_mushroom_quiche_path do %>
        <div class="filterDiv vegie">
          <%= image_tag('over_the_top_mushroom_quiche.png', :alt => 'Over The Top Mushroom Quiche') %>
          <h2>Over The Top Mushroom Quiche</h2>
          <p>
            A high rise quiche, layered with sautéed mushrooms and shredded
            cheese
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_pan_roast_salmon_with_tomato_viniagrette_path do %>
        <div class="filterDiv fish healthy">
          <%= image_tag('pan_roast_salmon_with_tomato_viniagrette.png', :alt => 'Pan-Roasted Salmon with Tomato Vinaigrette') %>
          <h2>Pan-Roasted Salmon with Tomato Vinaigrette</h2>
          <p>
            Seared salmon with an amazing sauce
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_roast_chicken_with_aromatic_jus_path do %>
        <div class="filterDiv meat roast">
          <%= image_tag('roast_chicken_with_aromatic_jus.png', :alt => 'Roast Chicken with Aromatic Jus') %>
          <h2>Roast Chicken with Aromatic Jus</h2>
          <p>
            Who doesn't love a roast chicken, especially with an aromatic jus
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_roast_leg_of_lamb_path do %>
        <div class="filterDiv meat roast seasonal">
          <%= image_tag('roast_leg_of_lamb.png', :alt => 'Roast Leg of Lamb') %>
          <h2>Roast Leg of Lamb</h2>
          <p>
            The Greek way of doing a roast leg of lamb
          </p>
        </div>
      <% end %>
      <%= link_to their_recipes_slow_roasted_pork_loin_with_molasses_and_balsamic_glaze_path do %>
        <div class="filterDiv meat roast">
          <%= image_tag('slow_roasted_pork_loin_with_molasses_and_balsamic_glaze.png', :alt => 'Slow-Roasted Pork Loin with Molasses and Balsamic Glaze') %>
          <h2>Slow-Roasted Pork Loin with Molasses and Balsamic Glaze</h2>
          <p>
            Okay, we're drooling, you're drooling. What we'd do just to smell
            this one
          </p>
        </div>
      <% end %>
    </div>

  </div>
</div>
<%= render 'shared/footer' %>

<script>
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      removeClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) addClass(x[i], "show");
    }
  }

  function addClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {
        element.className += " " + arr2[i];
      }
    }
  }

  function removeClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(" ");
  }

  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>
