<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('lembas_bread.png', :alt => 'Lembas Bread') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Lembas Bread
          </p>
          <p>
            <%= link_to "allyjanegrossan - Ally-Jane",
            "https://ally-jane.com/2014/10/11/lembas-bread-recipe/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Ohhhhhhh lembas bread from Lord of The Rings!
              </p>
              <p>
                Prep: 25 mins
                Cook: 12-15 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 2 1/2 cups of flour </li>
                <li> 1 tablespoon of baking powder </li>
                <li> 1/2 teaspoon of salt </li>
                <li> 8 tablespoons of cold butter </li>
                <li> 1/3 cup of brown sugar </li>
                <li> 1 teaspoon of cinnamon </li>
                <li> 1/2 teaspoon honey </li>
                <li> 2/3 cup of heavy cream (or more, if necessary) </li>
                <li> 1/2 teaspoon of vanilla </li>
                <li> Parchment paper </li>
                <li> OPTIONAL </li>
                <li> 1 package frozen banana leaves </li>
                <li> Twine </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Preheat oven to 400 degrees Fahrenheit.
          </p>
          <p>
            In a large bowl, mix the flour, baking powder and salt. Add the cold
            butter in 8 equal slices and use a large fork to mash the butter.
            Mash for about 5 minutes. Your arm should get really tired and the
            butter should be in fine granules.
          </p>
          <p>
            Add the cream and vanilla and stir until a thick dough forms. Add
            more cream if your dough is too dry along with the honey, cinnamon
            and sugar. Form it into a ball with your hands and refrigerate for
            10 minutes.
          </p>
          <p>
            Roll 1/2 of the dough out to 1/4 inch thick on a floured surface.
            Cut the dough into 3-inch squares and place carefully on a baking
            sheet lined with parchment paper. Use a knife to score the square
            in a criss-cross pattern. Reform the ball of dough with the unused
            edges.
          </p>
          <p>
            Bake for 12-15 minutes until the bread just starts to brown. Remove
            from oven to cool and repeat the dough rolling, cutting and baking
            for the second half.
          </p>
          <p>
            Optional: When completely cool, wrap each square in a 8 x 10 inch
            piece of banana leaf like you are rolling a burrito. You can treat
            the large sheets of leaf like paper and cut with a regular kitchen
            scissor. Tie with a piece of twine and throw on Fellowship of the
            Ring.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
