<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('marshmallow_crispie_bars.png', :alt => 'Marhmallow Crispie Bars') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Marhmallow Crispie Bars
          </p>
          <p>
            <%= link_to "SHECOOKS2 - allrecipes",
            "https://www.allrecipes.com/recipe/11101/marshmallow-crispie-bars/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Look, they're not quite Mars Bar Cake but damn, they're good
              </p>
              <p>
                Prep: 20 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 3 tablespoons butter </li>
                <li> 1 teaspoon vanilla extract </li>
                <li> 4 cups miniature marshmallows </li>
                <li> 4 cups crisp rice cereal </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Coat a 9 x 13 inch pan with spray oil or margarine.
          </p>
          <p>
            In a large saucepan, melt the butter or margarine over low heat. Add
            the vanilla. Melt the marshmallows into the margarine, stirring. Add
            the cereal when the marshmallows have melted; stir until cereal is
            coated. Quickly pour into the prepared pan. Use a sheet of waxed
            paper to press the mixture down flat and evenly into the pan.
          </p>
          <p>
            Let set for 2 to 3 hours. Cut into squares.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
