<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('mussels_and_clams_in_a_spicy_tomato_broth.png', :alt => 'Mussels and Clams in a Spicy Tomato Broth with Bacon and Arugula') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Mussels and Clams in a Spicy Tomato Broth with Bacon and Arugula
          </p>
          <p>
            <%= link_to "Reddit User: BushyEyes - Reddit",
            "https://www.reddit.com/r/recipes/comments/8v6szw/mussels_and_clams_in_a_spicy_tomato_broth_with/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Spicy seafood, for the adventures type
              </p>
              <p>
                Prep: 30 mins
                Cook: 50 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> SPICY TOMATO BROTH WITH BACON </li>
                <li> 12 ounces thick-cut bacon </li>
                <li> 1 small yellow onion </li>
                <li> 4 cloves garlic </li>
                <li> 1-2 red Fresno chili peppers (more or less depending on spice preference, or use crushed red pepper to taste) </li>
                <li> 1½ pounds cherry tomatoes </li>
                <li> 1 cup white wine (or replace with chicken stock) </li>
                <li> 2 cups chicken stock </li>
                <li> 2 cups loosely packed arugula (or baby spinach or kale) </li>
                <li> Salt and pepper to taste </li>
                <li> MUSSELS AND CLAMS </li>
                <li> 2 pounds mussels </li>
                <li> 16 littleneck clams </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Prepare Ingredients: Wash and scrub the clams. Scrub and debeard the
            mussels. Discard any mussels and clams that have opened or have
            cracked. Refrigerate until ready to cook. Cut the bacon into ½”
            strips. Mince the onion. Mince the garlic. Trim and thinly slice the
            peppers (remove the seeds, if desired). Halve the cherry tomatoes.
          </p>
          <p>
            Cook the Bacon: Add the bacon to a large, wide pot and turn the heat
            to medium. Cook, stirring regularly, until the fat has rendered and
            the bacon is crispy, about 10-12 minutes. Remove the bacon with a
            slotted spoon and transfer to a bowl. Carefully remove and discard
            (or save for another use) half the bacon fat in the pot.
          </p>
          <p>
            Prepare the Spicy Tomato Broth: Return the pot to medium heat and
            add the minced onion. Cook, stirring frequently, for 8-10 minutes
            until beginning to brown and char. Add the garlic and sliced red
            peppers and cook another minute or two. Add the cherry tomatoes and
            cook for 10-15 minutes until beginning to brown. Stir regularly.
          </p>
          <p>
            Season with salt and pepper. Turn the heat to high and once very
            bubbly and hot, add the white wine. Scrape up any browned bits stuck
            to the bottom of the pot. Add the chicken stock and bring to a boil.
            Reduce heat and simmer for 20 minutes. After 20 minutes, taste and
            season according to your preferences.
          </p>
          <p>
            Cook the Mussels and Clams: Turn the heat on the broth to medium.
            Add the mussels and clams (avoid over-crowding the pot; cook in
            batches if necessary) and cover. Cook for 5 minutes before removing
            the top. Remove all opened mussels and clams and transfer to a bowl.
            If any mussels and clams haven’t opened, return the lid back to the
            pot and cook another 3-4 minutes. Remove all opened mussels and
            clams and transfer to the bowl. Discard all unopened mussels and clams.
          </p>
          <p>
            Finish the Spicy Tomato Broth: Add the arugula and all but a pinch
            of the bacon to the broth over medium heat and cook, stirring
            frequently, until the arugula has just wilted. Turn off the heat and
            add the mussels and clams back to the pot.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
