<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('over_the_top_mushroom_quiche.png', :alt => 'Over The Top Mushroom Quiche') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Over The Top Mushroom Quiche
          </p>
          <p>
            <%= link_to "Template Template - template template template",
            "template template template",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                A high rise quiche, layered with sautéed mushrooms and shredded
                cheese
              </p>
              <p>
                Prep: 1 hour 30 min
                Cook: 5 hour 30 min
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 1 tablespoon vegetable oil </li>
                <li> 1 pound oyster mushrooms, stems trimmed and large caps halved or quartered </li>
                <li> 1 pound white mushrooms, thinly sliced </li>
                <li> Salt and freshly ground white pepper </li>
                <li> 1 tablespoon unsalted butter </li>
                <li> 2 small shallots, minced </li>
                <li> 1 tablespoon thyme, chopped </li>
                <li> 3/4 cup shredded Comté or Emmental cheese (2 1/2 ounces) </li>
                <li> 2 cups milk </li>
                <li> 2 cups heavy cream </li>
                <li> 6 large eggs, lightly beaten </li>
                <li> Freshly grated nutmeg </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Preheat the oven to 325°. In a very large skillet, heat the oil.
            Add the oyster and white mushrooms, season with salt and pepper and
            cook over high heat, stirring, until starting to soften, about 5
            minutes. Reduce the heat to moderate.
          </p>
          <p>
            Add the butter, shallots and
            thyme and cook, stirring often, until the mushrooms are tender,
            about 12 minutes longer. Season with salt and pepper and let cool.
          </p>
          <p>
            Scatter 1/4 cup of the cheese and half of the mushrooms evenly over
            the bottom of the Buttery Pastry Shell. In a blender, mix half each
            of the milk, cream and eggs and season with 1 1/2 teaspoons of salt,
            1/8 teaspoon of pepper and a pinch of nutmeg at high speed until
            frothy, about 1 minute. Pour the custard into the pastry shell.
          </p>
          <p>
            Top with another 1/4 cup of cheese and the remaining mushrooms. Make
            a second batch of custard with the remaining milk, cream and eggs,
            plus the same amount of salt, pepper and nutmeg as before and pour
            into the shell. Scatter the remaining 1/4 cup of cheese on top.
          </p>
          <p>
            Bake the quiche for about 1 1/2 hours, or until richly browned on
            top and the custard is barely set in the center. Let cool in the
            pan until very warm.
          </p>
          <p>
            Using a serrated knife, cut the pastry shell flush with the top of
            the pan. Carefully lift the springform pan ring off the quiche. Cut
            the mushroom quiche into wedges, transfer to plates and serve warm.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
