<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('parmesan_and_garlic_crusted_potato_wedges.png', :alt => 'Parmesan and Garlic Crusted Potato Wedges') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Parmesan and Garlic Crusted Potato Wedges
          </p>
          <p>
            <%= link_to "Imgur User: MorganHostTheToast - Imgur",
            "https://imgur.com/gallery/CzcmeSt",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Potato wedges are good, these are better
              </p>
              <p>
                Prep: 30 mins
                Cook: 1 hour
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 4 russet potatoes, cut into wedges </li>
                <li> 4 cups water </li>
                <li> 1 tablespoon white or apple cider vinegar </li>
                <li> 1 tablespoon salt </li>
                <li> 1/4 cup butter, divided into tablespoon-sized pieces </li>
                <li> 4 ounces (about 1 cup) shredded parmesan cheese </li>
                <li> 4 large cloves garlic, minced </li>
                <li> 1/4 cup freshly chopped parsley </li>
                <li> Zest of 1 lemon </li>
                <li> Salt and pepper, to taste </li>
                <li> Marinara or dip of choice, to serve </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Place the potato wedges in a large pot, and add in the water,
            vinegar, and 1 tablespoon salt. Press down on the potatoes gently
            to make sure they're all submerged. Bring the pot to a gentle boil
            and continue to boil the potatoes for 10 minutes. Drain and pat the
            potatoes dry with paper towels. Set aside.
          </p>
          <p>
            Preheat oven to 400 degrees F.
          </p>
          <p>
            Set the butter on a large baking sheet. Transfer the baking sheet to
            the oven and allow the butter to melt as the oven preheats. Once the
            butter has fully melted, carefully remove the baking sheet from the
            oven.
          </p>
          <p>
            Sprinkle parmesan cheese evenly on top of the baking sheet. Do the
            same with the garlic.
          </p>
          <p>
            Place the potato wedges on top of the garlic and cheese layer, so
            that one of the skinless sides is touching the cheese. Bake for 45
            minutes, or until the potatoes are lightly golden and the cheese has
            browned.
          </p>
          <p>
            As the potatoes cook, combine the parsley, lemon zest, salt and
            pepper in a small bowl and mix. Set aside.
          </p>
          <p>
            Let the potatoes sit for 5 minutes. This ensures that the cheese
            will stick to the potatoes instead of ripping off and staying on the
            pan. It's very important to leave them be so they can set.
          </p>
          <p>
            Using a metal spatula, break apart the cheese in-between each wedge
            and lift the baked cheese and wedges from the baking sheet. Plate
            and then sprinkle with the parsley mixture.
          </p>
          <p>
            Serve warm with marinara, ranch, or sauce of choice for dipping.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
