<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('potato_gnocchi_with_mushroom_ragu.png', :alt => 'Potato Gnocchi with Mushroom Ragù') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Potato Gnocchi with Mushroom Ragù
          </p>
          <p>
            <%= link_to "Richard Betts - Food & Wine",
            "https://www.foodandwine.com/recipes/potato-gnocchi-with-mushroom-ragu",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Gnocchi and mushrooms what could go wrong
              </p>
              <p>
                Prep: 1 hour 15 mins
                Cook: 2 hour 15 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> GNOCCHI </li>
                <li> Four 10-ounce baking potatoes </li>
                <li> 2 tablespoons unsalted butter, melted </li>
                <li> 1 large egg, lightly beaten </li>
                <li> 1 large egg yolk, lightly beaten </li>
                <li> 1 1/2 teaspoons kosher salt </li>
                <li> 1/2 teaspoon freshly ground pepper </li>
                <li> Pinch of freshly grated nutmeg </li>
                <li> 1/2 cup freshly grated Parmigiano-Reggiano cheese, plus more for serving </li>
                <li> 1 1/4 cups all-purpose flour </li>
                <li> MUSHROOM RAGÙ </li>
                <li> 2 tablespoons unsalted butter </li>
                <li> 1/4 cup extra-virgin olive oil </li>
                <li> 1 1/2 pounds mixed wild mushrooms, such as porcini, morels, oyster and hen-of-the-woods, quartered if large </li>
                <li> Freshly ground pepper </li>
                <li> Salt </li>
                <li> 2 shallots, minced </li>
                <li> 2 garlic cloves, minced </li>
                <li> 1 teaspoon finely chopped thyme </li>
                <li> 1/2 cup dry white wine </li>
                <li> 1/4 cup chicken stock </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Preheat the oven to 375°. On a rimmed baking sheet, bake the
            potatoes for 1 hour, until tender; let cool slightly. Peel the
            potatoes and pass them through a ricer into a bowl. Stir in the
            butter, egg, egg yolk, salt, pepper, nutmeg and 1/2 cup of cheese
            and let cool.
          </p>
          <p>
            Lightly dust a baking sheet with flour. Sprinkle the 1 1/4 cups of
            flour over the potato mixture and gently knead until the flour is
            almost incorporated. Scrape the dough onto a floured work surface
            and gently knead until smooth. Divide the dough into 4 equal pieces.
          </p>
          <p>
            Roll out 1 piece of the dough into a 3/4-inch-thick rope. Cut the
            rope into 1-inch pieces and transfer the gnocchi to the prepared
            baking sheet. Repeat with the remaining dough. Roll each gnocchi
            against the tines of a fork or gnocchi paddle to make ridges. Cover
            the gnocchi with plastic wrap and refrigerate until firm, about 20
            minutes.
          </p>
          <p>
            In a very large skillet, melt 1 tablespoon of the butter in 2
            tablespoons of the oil. Add half of the mushrooms and season with
            salt and pepper. Cook over moderately high heat, stirring, until
            tender and just browned, about 7 minutes. Add half each of the
            shallots, garlic and thyme and cook until fragrant, about 3 minutes.
          </p>
          <p>
            Transfer to a bowl. In the skillet, melt the remaining 1 tablespoon
            of butter in the remaining 2 tablespoons of oil and repeat with the
            remaining mushrooms, shallots, garlic and thyme. Return all of the
            mushrooms to the skillet. Stir in the wine and cook until nearly
            evaporated, about 2 minutes. Add the chicken stock and season the
            ragù with salt and pepper; keep warm over low heat.
          </p>
          <p>
            Bring a large pot of salted water to a boil. Add half the gnocchi
            and simmer over moderately high heat until they rise to the surface,
            then simmer until cooked through, about 2 minutes longer. Using a
            slotted spoon, transfer the gnocchi to warm bowls or a platter.
            Cook the remaining gnocchi. Spoon the ragù over the gnocchi and
            serve, passing grated cheese at the table.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
