<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('pull_apart_flauta_ring.png', :alt => 'Pull-Apart Flauta Ring') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Pull-Apart Flauta Ring
          </p>
          <p>
            <%= link_to "Imgur User: WannaWanga - Pull-Apart Recipes",
            "https://imgur.com/gallery/DDvDc4j",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Kinda like taquitos or faijitas but cooked and crispy and with
                chicken in
              </p>
              <p>
                Prep: 20 mins
                Cook: 30 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 2 cups chicken, cooked, shredded </li>
                <li> 1 large yellow onion, chopped </li>
                <li> 1 red bell pepper, seeded, chopped </li>
                <li> 1 jalepeno, seeded, chopped </li>
                <li> 2 cups shredded monterey jack cheese, divided </li>
                <li> 2 cups shredded cheddar cheese, divided </li>
                <li> ¼ cup lime juice </li>
                <li> 3 tablespoons taco seasoning </li>
                <li> 18 flour tortillas </li>
                <li> Fresh cilantro, chopped, for garnish </li>
                <li> Guacamole, for serving </li>
                <li> Salsa, for serving </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            In a large bowl, combine the chicken, onion, red bell pepper,
            jalapeño, ½ cup (50 g) of Monterey Jack cheese, ½ cup (50 g) of
            cheddar cheese, the lime juice, and taco seasoning. Mix thoroughly.
          </p>
          <p>
            Prehat the oven to 400˚F (200˚C). Line a baking sheet with parchment
            paper.
          </p>
          <p>
            Place one of the tortillas on a cutting board. Scoop 2 tablespoons
            of the chicken mixture onto the bottom edge of the tortilla. Roll
            up the tortilla tightly, leaving the edges untucked, and cut in half
            crosswise. Repeat with the rest of the tortillas and filling.
          </p>
          <p>
            Arrange the flautas in a circle on the baking sheet. Sprinkle with
            half of the remaining cheddar and Monterey Jack cheese. Place a
            second layer of flautas on top of the first so they are overlapping.
            Sprinkle with the rest of the cheese. Place the rest of the flautas
            on top for a third layer.
          </p>
          <p>
            Bake for 30 minutes until golden brown and crisp.
          </p>
          <p>
            Sprinkle with cilantro and serve immediately with guacamole and
            salsa for dipping.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
