<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('russian_honey_cake.png', :alt => 'Russian Honey Cake') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Russian Honey Cake
          </p>
          <p>
            <%= link_to "Reddit User: drgreenthumb7 - Reddit",
            "https://www.reddit.com/r/recipes/comments/8o9rj5/russian_honey_cake_medovik_recipe/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Honey cake (aka Medovik) is one of the most famous Russian
                desserts
              </p>
              <p>
                Prep: 30 mins
                Cook: 25 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 3 large eggs </li>
                <li> 1 cup granulated sugar </li>
                <li> 3 ½ oz unsalted butter </li>
                <li> 3-4 Tbsp honey </li>
                <li> 1 tsp baking soda </li>
                <li> 2 ½-3 cups all-purpose flour </li>
                <li> 22 oz sour cream 25-40% fat, chill </li>
                <li> 1 cup heavy whipping cream 33-35% fat, chill </li>
                <li> 1 ½ cups icing sugar </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Whisk eggs with sugar until white and fluffy.
          </p>
          <p>
            We will cook dough for honey cake on a bain-marie. Put honey and
            butter into a smaller stew-pot and place to the bain-marie.
          </p>
          <p>
            Add whisked eggs to the butter and honey and thoroughly mix. Leave
            honey mix on a bain-marie about 5 minutes more. Add baking soda,
            mix well and cook about 20 minutes.
          </p>
          <p>
            Preheat oven up to 180°C or 356°F. Remove stew-pot with honey
            mixture from bain-marie, add flour and knead soft and plastic dough.
            Divide the dough on 8 equal pieces. On the floured-well table roll
            out each piece of the dough into 8-9'' inch circle (about 1/6''
            thick). Bake each layer about 3-5 minutes.
          </p>
          <p>
            Place ready layers on a cutting board, crush the scraps with the
            rolling pin or into a blender, set aside.
          </p>
          <p>
            Whisk sour cream with powdered sugar until fluffy and soft peaks.
            Separately whisk chilled heavy cream until stiff peaks.
          </p>
          <p>
            Spread about 3 tablespoons of cream on each layer and assemble your
            honey cake.
          </p>
          <p>
            Cover top and sides of your honey cake with remaining cream and dust
            with the scraps. Refrigerate overnight and decorate with chocolate,
            caramel, nuts, fresh fruits or berries before serve. Invite your
            family or friends and enjoy this delicious honey cake.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
