<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('samoa_cookie_inspired_iced_coffee.png', :alt => 'Samoa Cookie-inspired Iced Coffee') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Samoa Cookie-inspired Iced Coffee
          </p>
          <p>
            <%= link_to "Reddit User: sammijean06 - Reddit",
            "https://www.reddit.com/r/recipes/comments/8asvhw/samoa_cookieinspired_iced_coffee/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                A cold brew for a warm day
              </p>
              <p>
                Prep: 15 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> TOASTED COCONUT COLD BREW </li>
                <li> 1/2 c. sweetened coconut, toasted </li>
                <li> 4 tbsp. dark roast coffee groundsmplate </li>
                <li> 4 c. water </li>
                <li> SAMOA COOKIE ICED COFFEE </li>
                <li> 1/3 of the toasted coconut cold brew </li>
                <li> 2 tbsp. heavy cream </li>
                <li> 1-2 tbsp. Hershey’s chocolate syrup </li>
                <li> 1-2 tbsp. coconut caramel sauce </li>
                <li> Ice </li>
                <li> Whipped topping </li>
                <li> template </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            In a French press: Add all of the ingredients into the French press.
            Place in the refrigerator for at least 12 hours. Push plunger down
            to strain coconut flakes and grounds. Put any remaining coffee back
            in the refrigerator.
          </p>
          <p>
            Without a French press: Add coffee grounds, coconut, and water
            together in a bowl large enough to fit everything. Stir briefly to
            combine. Cover and refrigerate for at least 12 hours. Remove the
            bowl after it has brewed, and place a strainer covered with a
            cheesecloth into a pitcher. Pour the coffee (and grounds) over the
            strainer. Wait until the liquid has filtered through the strainer
            and then discard the grounds and remove the strainer.
          </p>
          <p>
            In a tall glass, drizzle about 1.5 tbsps. of each the Hershey’s
            chocolate and caramel sauce up the sides. Pour in the toasted
            coconut cold brew and heavy cream, and mix together. Add ice. Top
            with whipped cream, and drizzle the remaining sauces on top of the
            caramel.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
