<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('seared_scallops_in_a_cream_lemon_caper_sauce.png', :alt => 'Seared Scallops in a Creamy Lemon Caper Sauce') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Seared Scallops in a Creamy Lemon Caper Sauce
          </p>
          <p>
            <%= link_to "Reddit User: BushyEyes - Reddit",
            "https://www.reddit.com/r/recipes/comments/8tf5af/seared_scallops_in_a_creamy_lemon_caper_sauce/",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Seared scallops done in a creamy caper sauce with a topping of
                Orzo
              </p>
              <p>
                Prep: 30 mins
                Cook: 12 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> SEARED SCALLOPS </li>
                <li> 1 pound large, dry sea scallops, muscle removed </li>
                <li> 1 tablespoon olive oil </li>
                <li> 1 tablespoon butter </li>
                <li> Salt and pepper to taste </li>
                <li> CREAMY LEMON CAPER SAUCE WITH ORZO </li>
                <li> 16 ounces orzo </li>
                <li> 1 teaspoon extra virgin olive oil </li>
                <li> 5 cloves garlic </li>
                <li> 3 anchovy filets </li>
                <li> 1 3.5-ounce jar nonpareil capers, drained and rinsed </li>
                <li> 1 teaspoon crushed red pepper, more or less to taste </li>
                <li> ¼ cup fresh flat leaf parsley </li>
                <li> ½ cup white wine (or use no sodium chicken stock) </li>
                <li> 1 cup heavy cream </li>
                <li> 1 large lemon </li>
                <li> Salt and pepper to taste </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Prepare Pasta: Bring a large pot of salted water to a boil and cook
            the orzo until al dente. Reserve ¼ cup pasta cooking water and set
            aside. Drain and rinse the orzo and toss with 1 teaspoon extra
            virgin olive oil. Set aside.
          </p>
          <p>
            Prepare Ingredients: Zest 1½ teaspoons lemon zest and then juice the
            lemon. Peel and roughly chop the garlic. Combine the chopped garlic,
            1 teaspoon lemon zest (reserve remaining zest for garnish),
            anchovies, crushed red pepper, and drained capers in a bowl and toss
            to combine. Mince the parsley.
          </p>
          <p>
            Prepare the Seared Scallops: Heat the olive oil and butter in a
            large skillet over medium high until very hot. Pat the scallops dry
            and season with salt and pepper. Sear for about 1-2 minutes until
            very well browned and seared. Flip and cook an additional minute or
            so until just cooked through and opaque. Transfer the cooked
            scallops to a plate and tent loosely with foil to keep warm. Blot
            out most of the excess oil from the skillet.
          </p>
          <p>
            Prepare the Creamy Lemon Caper Sauce: Return the skillet to medium
            high heat. Add the bowl with the garlic and capers and sauté for 5
            minutes, mashing the anchovies until they’ve ‘melted’. Add the
            parsley and cook an additional 1-2 minutes. Add the lemon juice and
            white wine and bring to a boil, scraping any browned bits stuck to
            the bottom of the skillet. Cook for 5-6 minutes until reduced
            slightly. Add the heavy cream and reserved pasta cooking water and
            stir to combine, and turn the heat to medium. Taste and season to
            your preferences. Once bubbly and thickened slightly, add the orzo
            and toss to combine. Cook for 1-2 minutes more or until the orzo is
            warmed. Turn off the heat.
          </p>
          <p>
            To Serve: Divide the orzo with creamy lemon caper sauce between
            bowls and arrange scallops on top of each dish. Garnish with a bit
            of lemon zest on each dish, a crack of fresh black pepper, and a
            drizzle of extra virgin olive oil (optional)
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
