<link href='https://fonts.googleapis.com/css?family=Caveat Brush' rel='stylesheet'>

<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='picture'>

      <div class="polaroid">
        <%= image_tag('spinache_and_artichoke_dip_stuffed_garlic_bread.png', :alt => 'Spinach and Artichoke Dip Stuffed Garlic Bread') %>
        <div class="polaroid_container">
          <p class='content_description'>
            Spinach and Artichoke Dip Stuffed Garlic Bread
          </p>
          <p>
            <%= link_to "Imgur User: MorganHostTheToast - Imgur",
            "https://imgur.com/gallery/Cga0aQX",
            :target => "_blank" %>
          </p>
        </div>
      </div>

      <div class='description'>
        <ul>
          <li>
            <a>
              <h2>Description:</h2>
              <p>
                Looking for ways to inprove a french baguette, here's one
              </p>
              <p>
                Prep: 20 mins
                Cook: 5 mins
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class='ingredients'>
        <ul>
          <li>
            <a>
              <h2>Ingredients:</h2>
              <ul>
                <li> 1 baguette  </li>
                <li> ½ tablespoon oil </li>
                <li> 1 (14 oz) can artichoke hearts, drained and chopped </li>
                <li> 1 (10 oz) bag baby spinach leaves </li>
                <li> te1 (8 oz) package cream cheesemplate </li>
                <li> 1½ cups shredded mozzarella cheese </li>
                <li> 3 green onions, sliced </li>
                <li> Salt and pepper, to taste </li>
                <li> 3 tablespoons butter </li>
                <li> 3 cloves garlic, minced </li>
                <li> Parmesan cheese, grated, to top </li>
                <li> Fresh basil leaves or parsley, torn, to top </li>
              </ul>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='method'>
      <div class='method_text'>
        <p>Method</p>
      </div>
      <div class='method_steps'>
        <ol>
          <p>
            Cut the baguette into 4 pieces. Use a long knife to cut out the
            insides, leaving some bread along the edges. Pull out the loose
            bread to leave hollow bread quarters. Set aside.
          </p>
          <p>
            Heat the oil in a large pot over medium-high heat. Add in the
            artichoke pieces and cook for one minute. Reduce heat to medium,
            add in the spinach, and cook until wilted, turning often.
          </p>
          <p>
            Mix in the cream cheese and mozzarella, and let it melt entirely.
            Fold in the green onions and season with salt and pepper to taste.
            Remove from heat.
          </p>
          <p>
            Preheat the oven to 350 degrees F.
          </p>
          <p>
            Stuff the baguette quarters with the spinach and artichoke dip,
            using a spoon to help pack the dip.
          </p>
          <p>
            Once the bread is stuffed, transfer it to a cutting board. Line up
            the quarters so that they fit together as they did before the
            baguette was cut. Slice the baguette into slices that are
            approximately 1" thick.
          </p>
          <p>
            Tear a piece of heavy duty foil that is about 5-6 inches longer than
            the baguette. Slide the baguette slices off of the cutting board and
            onto the foil, keeping them together.
          </p>
          <p>
            In a small bowl, combine the butter and minced garlic. Loosely cover
            the top and microwave for a minute, or until the butter is fully
            melted. Brush the garlic butter over the baguette, allowing some to
            drip down between the slices. Make sure to get all of the minced
            garlic on top of the bread.
          </p>
          <p>
            Wrap the foil around the bread and bake for 15 minutes. Unwrap the
            bread and bake for 5 minutes, or until the top browns slightly.
          </p>
          <p>
            Remove from the oven, top with parmesan cheese and torn basil or
            parsley leaves, and serve warm.
          </p>
        </ol>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
