<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>
    <div class='leftContent'>
      <div class='articleTitle'>
        <h2>
          <%= @article.title %>
        </h2>
      </div>

      <div class='articleText'>
        <p>
          <%= @article.text %>
        </p>
      </div>

      <div class='backButton'>
        <%= link_to 'Back', articles_path %>
      </div>

      <div class='comments'>
        <h2>Add a comment:</h2>
        <%= render 'article_comments/form' %>

        <h2>Comments</h2>
        <%= render @article.article_comments %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
