<%= form_with model: @recipe, local: true do |form| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='leftContent'>
    <div class="row">
      <div class="col-25">
        <%= form.label :title %>
      </div>
      <div class="col-75">
        <%= form.text_field :title, placeholder: "Title...", maxlength: 50 %>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <%= form.label :author %>
      </div>
      <div class="col-75">
        <%= form.text_field :author, placeholder: "Author...", maxlength: 50 %>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <%= form.label :ingredients %>
      </div>
      <div class="col-75">
        <%= form.text_area :ingredient, placeholder: "Ingredients...", maxlength: 5000 %>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <%= form.label :method %>
      </div>
      <div class="col-75">
        <%= form.text_area :method, placeholder: "Method...", maxlength: 5000 %>
      </div>
    </div>
    <div class="row">
      <%= form.submit 'Create Recipe', class: 'submitButton' %>
    </div>
  </div>

<% end %>
