<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <div class='articleBlogRecipe'>
      <div class='titleAuthor'>
        <div class='title'>
          <h2>
            <strong>Title:</strong>
            <%= @recipe.title %>
          </h2>
        </div>

        <div class='author'>
          <h2>
            <strong>Author:</strong>
            <%= @recipe.author %>
          </h2>
        </div>
      </div>

      <div class='yourIngredientsMethod'>
        <div class='yourIngredients'>
          <p>
            <strong>Ingredients:</strong>
          </p>
          <p>
            <%= @recipe.ingredient %>
          </p>
        </div>

        <div class='yourMethod'>
          <p>
            <strong>Method:</strong>
          </p>
          <p>
            <%= @recipe.method %>
          </p>
        </div>
      </div>

      <div class='backButton'>
        <%= link_to 'Back', recipes_path %>
      </div>

      <div class='comments'>
        <h2>Submit:</h2>
        <%= render 'recipe_comments/form' %>

        <h2>Comments</h2>
        <%= render @recipe.recipe_comments %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
