<%= render 'shared/header' %>
<div class='container'>
  <div class='content'>
    <%= render 'shared/sidebar' %>

    <h1>Analytics</h1>

    <div class='blogsViewTable'>
      <div class='dbTable'>
        <table id="myTable">
          <thead>
            <tr>
              <th>Blog ID</th>
              <th>Blog Name</th>
              <th>Session ID</th>
              <th>Created At</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
          <% @blog_view.each do |page_name,count| %>
            <tr>
              <td><%= page_name %></td>
              <td><%= count %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <%= render 'shared/footer' %>
</div>
